
<%= render '/shared/left_panel' %>

<div class="profile-right-container">
  <%= render '/shared/menu_horizontal_tabs' %>
	<div class="community-tab-right">
		<div class="profile-tab profile-tab-select">
			<%= link_to 'Profile', :controller => 'user', :action => 'profile' %>
		</div>
	</div>
	<div class="clear"></div>
	<div class="profile-content-container">
		<div class="share-middle-filter">
			<a href="#">Files Friends have Shared</a>
			<a href="#">Files Groups have Shared</a>
			<a href="#">Files You have Shared</a>
			<a href="#" class="selected">Contribute</a>
		</div>
		<div class="clear"></div>
		
		<div class="dataset-upload-container">
<%= form_for :dataset, :multipart => true do |f| %>

			<table width="100%" cellpadding="8" cellspacing="0" border="0">
				<tr>
					<td align="right" width="20%">
            <%= f.label :name, 'Title' %>
					</td>
					<td align="left" width="80%">
						<div class="text-plain-left"></div>
						<div class="text-plain-repeat-280">
							<%= f.text_field :name %>
						</div>
						<div class="text-plain-right"></div>
					</td>
				</tr>
				
				<tr>
					<td align="right" valign="top">
						<%= f.label :description, 'Description' %>
					</td>
					<td align="left">
						<div class="textarea-plain-left"></div>
						<div class="textarea-plain-repeat-280">
              <%= f.text_area :description %>
						</div>
            <div class="textarea-plain-right"></div>
					</td>
				</tr>

        <tr>
					<td align="right" valign="top">
            <%= f.label :author, 'Author (optional)' %>
          </td>
          <td>
						<div class="text-plain-left"></div>
						<div class="text-plain-repeat-280">
							<%= f.text_field :author %>
						</div>
						<div class="text-plain-right"></div>
          </td>
        </tr>				
        <tr>
					<td align="right" valign="top">
            <%= f.label :url, 'Url (optional)' %>
          </td>
          <td>
						<div class="text-plain-left"></div>
						<div class="text-plain-repeat-280">
							<%= f.text_field :url %>
						</div>
						<div class="text-plain-right"></div>
          </td>
        </tr>
        <tr>
					<td align="right" valign="top">
              <%= f.label :email, 'Email (optional)' %>
          </td>
          <td>
						<div class="text-plain-left"></div>
						<div class="text-plain-repeat-280">
							<%= f.text_field :email %>
						</div>
						<div class="text-plain-right"></div>
          </td>
        </tr>
				
				<tr>
					<td align="right" valign="top">
            <%= f.label :file, 'File' %>
					</td>	
					<td align="left">
            <%= f.file_field :file %>
						<div class="">
							Valid uploads includes: Spreadsheet in .cvs, .ods, .xls, or .xlsx format, or Shape files (a .zip file) containing atleast a .shp and .dbf file <a href="#">file specification</a>
						</div>
					</td>
				</tr>
				<tr>
					<td align="right">
						<strong>Feature type<strong>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td align="right" valign="top">
            <%= f.label :feature_type_static, 'Non-temporal (static)' %>
					</td>
					<td align="left">
						<div class="float-left">
              <%= f.radio_button :feature_type, :static %>
						</div>
						<div class="float-left width-5">&nbsp;</div>
						<div class="float-left">
							Date/time
						</div>
						<div class="float-left width-5">&nbsp;</div>
						<div class="float-left">
							<div class="text-plain-left"></div>
							<div class="text-plain-repeat-280">
								<input type="text" />
							</div>
							<div class="text-plain-right"></div>
						</div>
					</td>
				</tr>
				
				<tr>
					<td align="right" valign="top">
            <%= f.label :feature_type_dynamic, 'Temporal (dynamic)' %>
					</td>
					<td align="left">
						<div class="float-left">
              <%= f.radio_button :feature_type, :dynamic %>
						</div>
						<div class="float-left width-5">&nbsp;</div>
						<div class="float-left">
							Date/time
						</div>
						<div class="float-left width-5">&nbsp;</div>
						<div class="float-left">
							<div class="text-plain-left"></div>
							<div class="text-plain-repeat-135">
								<input type="text" />
							</div>
							<div class="text-plain-right"></div>
						</div>
						<div class="float-left width-5">&nbsp;</div>
						<div class="float-left">
							<div class="text-plain-left"></div>
							<div class="text-plain-repeat-135">
								<input type="text" />
							</div>
							<div class="text-plain-right"></div>
						</div>
					</td>
				</tr>

				<tr>
					<td align="right">
						<strong>Permissions<strong>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
          <td></td>
					<td align="" valign="top">
          <table>
            <tr>
              <td>
                <%= label_tag :permission_group, 'Share with one of your groups' %>
              </td>
              <td>       
                <%= radio_button_tag :permission, :group %>
                Groups
                <select name="owner[group_id]" id="groups">
                  <option value="0">Loading...&nbsp;&nbsp;</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :permission_public, 'Share with the everyone' %>
              </td>
              <td>
                <%= radio_button_tag :permission, :public %>
              </td>
            </tr>
          </table>
					</td>
				</tr>
				
				<tr>
					<td>&nbsp;</td>
					<td align="left">
            <div class="create-dataset-button" onclick="$('form').submit();">
                <%= f.submit :search, :name => 'search' %>
            </div>
					</td>
				</tr>
				
			</table>

<% end %>

		</div>
		<div class="clear"></div>
		
	
		
	</div>
</div>
<div class="clear"></div>
