<script>
  $(document).ready(function() {
    function fragmentId(id) {
      return $(id + '_fragment');
    }
    function fragment(id) {
      var fragment = fragmentId(id);
      return {id: id};
    }
    
    var fragments = []
    fragments.push(fragment('#dataset_feature_type_static'))
    fragments.push(fragment('#dataset_feature_type_dynamic'))
    
    $('[name="dataset[feature_type]"]').change(function(event) {
      var targetId = '#' + event.target.id;
      $.each(fragments, function(idex, fragment){
        var parent = fragmentId(fragment.id);
        var inputs = parent.find('input');
        if (fragment.id === targetId) {      	        
          parent.removeClass('disabled');
          inputs.removeAttr('disabled');
        } else {
          parent.addClass('disabled');
          inputs.attr('disabled', true);
        }
      });
    });
    
    $('#dataset_feature_type_static').attr('checked', true).trigger('change');

    $('#permission_public').attr('checked', true);

    $('#groups').click(function(event) {
      $('#permission_group').attr('checked', true);
    });

    $('.create-dataset-button').click(function() {
      var required = ['dataset[feature_type]', 'permission'];
      $('form .required').each(function(i,e) { required.push($(e).attr('name')); });
      var form = $('form');

      var errors = []
      $(required).each(function(i,e) {
        element = $('form').find('[name="' + e + '"]');
        if (element.val() === '') {
          errors.push(element.attr('friendly') ? element.attr('friendly') : e);
        }
      });

      if (errors.length > 0) {
        var errorMsg = ''
        $(errors).each(function(i,e) { errorMsg += '<li>' + e + ' can\'t be blank</li>'; });
        $('#error-explanation').html('<ul>' + errorMsg + '</ul>').focus();
      } else {
        form.submit();
      }
    });
  });

  $(document).ready(function() {
    $.get(<%= "'/user/groups?user_id=#{logged_in? ? current_user.id : 0}&format=html'" %>, function(html) {
      $('#groups').html($(html).find('option')).val(0);
    });
  });
</script>


<%= render '/shared/left_panel' %>

<div class="profile-right-container">
  <%= render '/shared/menu_horizontal_tabs' %>
	<div class="community-tab-right">
		<div class="profile-tab profile-tab-select">
			<%= link_to 'Profile', :controller => 'user', :action => 'profile' %>
		</div>
	</div>
	<div class="clear"></div>
	<div class="profile-content-container">
    <%= render 'upper_navbar' %>
		
		<div class="dataset-upload-container">
      <div id="error-explanation" tabindex="100">  
      </div>  

<%= form_for :dataset, :url => "http://#{request.host}:3000/items/create", :html => {:multipart => true} do |f| %>

			<table width="100%" cellpadding="8" cellspacing="0" border="0">
				<tr>
					<td align="right" width="20%">
            <%= f.label :name, 'Title' %>
					</td>
					<td align="left" width="80%">
						<div class="text-plain-left"></div>
						<div class="text-plain-repeat-280">
							<%= f.text_field :name, :class => 'required', :friendly => 'Title' %>
						</div>
						<div class="text-plain-right"></div>
					</td>
				</tr>
				
				<tr>
					<td align="right" valign="top">
						<%= f.label :description, 'Description' %>
					</td>
					<td align="left">
						<div class="textarea-plain-left"></div>
						<div class="textarea-plain-repeat-280">
              <%= f.text_area :description, :class => 'required', :friendly => 'Description' %>
						</div>
            <div class="textarea-plain-right"></div>
					</td>
				</tr>
				<tr>
					<td align="right" valign="top">
            <%= label_tag :filename, 'File' %>
					</td>	
					<td align="left">
            <%= file_field_tag :filename, :class => 'required', :friendly => 'File' %>
						<div class="">
							Valid uploads includes: Spreadsheet in .csv, .ods, .xls, or .xlsx format, or Shape files (a .zip file) containing atleast a .shp and .dbf file
						</div>
					</td>
				</tr>
        <tr>
					<td align="right" valign="top">
            <%= f.label :source, 'Source (optional)' %>
          </td>
          <td>
						<div class="text-plain-left"></div>
						<div class="text-plain-repeat-280">
							<%= f.text_field :source %>
						</div>
						<div class="text-plain-right"></div>
						<div class="clear">
							The source could be a link, name of a friend, email address, organization...
						</div>
          </td>
        </tr>

				<tr>
					<td align="right">
						<strong>Author<strong>
					</td>
					<td>&nbsp;</td>
				</tr>
        <tr>
					<td align="right" valign="top">
            <%= label_tag "author[name]", 'Author name (optional)' %>
          </td>
          <td>
						<div class="text-plain-left"></div>
						<div class="text-plain-repeat-280">
							<%= text_field_tag "author[name]" %>
						</div>
						<div class="text-plain-right"></div>
          </td>
        </tr>				
        <tr>
					<td align="right" valign="top">
              <%= label_tag "author[email]", 'Email (optional)' %>
          </td>
          <td>
						<div class="text-plain-left"></div>
						<div class="text-plain-repeat-280">
							<%= text_field_tag "author[email]" %>
						</div>
						<div class="text-plain-right"></div>
          </td>
        </tr>
				
				<tr>
					<td align="right">
						<strong>Feature type<strong>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td align="right" valign="top">
            <%= f.label :feature_type_static, 'Non-temporal (static)' %>
					</td>
					<td align="left">
						<div class="float-left">
              <%= f.radio_button :feature_type, :observation_data_static, { :id => :dataset_feature_type_static } %>
						</div>
            <%= render 'static_observation' %>
					</td>
				</tr>
				
				<tr>
					<td align="right" valign="top">
            <%= f.label :feature_type_dynamic, 'Temporal (dynamic)' %>
					</td>
					<td align="left">
            <div class="float-left">
              <%= f.radio_button :feature_type, :observation_data_dynamic, { :id => :dataset_feature_type_dynamic } %>
            </div>
            <div class="float-left width-5">&nbsp;</div>
            <%= render 'dynamic_observation' %>
					</td>
				</tr>

				<tr>
					<td align="right">
						<strong>Permissions<strong>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
          <td colspan="2" style="padding-left:50px;">
          <table>
            <tr>
              <td align="right">
                <%= label_tag :permission_group, 'Share with one of your groups' %>
              </td>
              <td>       
                <%= radio_button_tag :permission, :group %>
                select group
                <%= select :owner, :group_id, ['Loading...'], {}, { :id => 'groups' } %>
                <%= hidden_field_tag "owner[user_id]", current_user.id %>
              </td>
            </tr>
            <tr>
              <td align="right">
                <%= label_tag :permission_public, 'Make this data public' %>
              </td>
              <td>
                <%= radio_button_tag :permission, :public %>
              </td>
            </tr>
          </table>
					</td>
				</tr>
				
				<tr>
					<td>&nbsp;</td>
					<td align="left">
            <div class="create-dataset-button">
                <%= f.submit :search, :name => 'search' %>
            </div>
					</td>
				</tr>
				
			</table>

<% end %>

		</div>
		<div class="clear"></div>		
	</div>
</div>
<div class="clear"></div>
