<%= render '/shared/left_panel' %>

<div class="profile-right-container">
  <%= render '/shared/menu_horizontal_tabs' %>
	<div class="community-tab-right">
		<div class="profile-tab profile-tab-select">
				<%= link_to 'Profile', :controller => 'user', :action => 'profile' %>
		</div>
	</div>
	<div class="clear"></div>
	<div class="profile-content-container">
    <%= render 'upper_navbar' %>

		<div class="clear"></div>
		<div class="share-middle-filter">
			<a href="#">Files Friends have Shared</a>
			<a href="#" class="selected">Files Groups have Shared</a>
			<a href="#">Files You have Shared</a>
			<a href="#">Contribute</a>
		</div>
		<div class="clear"></div>

    <div id="friend-dataset-list">
    <%= render :partial => 'dataset', :collection => @friend_datasets %>
    </div>
    <div id="group-dataset-list">
    <%= render :partial => 'dataset', :collection => @group_datasets %>
    </div>
    <div id="my-dataset-list">
    <%= render :partial => 'dataset', :collection => @my_datasets %>
    </div>

	</div>
</div>
<div class="clear"></div>
