<script>
$('document').ready(function() { 
  function loadReviews(page, pageSize, callback) {  
    $.ajax({
      url: '<%= url_for :controller => "reviews" %>?id=<%= @dataset.uuid %>&page=' + page + '&page_size=' + page_size,
      type: 'GET',
      global: false,
      cache: false,      
      success: function(data) {
        if (data && data.length > 0) {
          if (page === 1) {
            $('#comments .reviews').html(data);
          } else {
            $('#comments .reviews').append(data);
          }
          $('#comments .reviews .rating-container').not('.rated').rating({ displayOnly: true });
          callback();
        }
      }
    });
  }
  
  var page = 1;
  var page_size = 10;
  $('#comments #show-more').click(function() {
    page = page + 1;
    $('#comments #show-more').attr('disabled', 'disabled').addClass('ui-state-disabled');
    loadReviews(page, page_size, function() { $('#comments #show-more').removeAttr('disabled', 'disabled').removeClass('ui-state-disabled'); });
  });
  
  loadReviews(page, pageSize);

  $('#comments .rating-container').not('.rated').rating({ displayOnly: true });
  $.ajax({
    url: '<%= url_for :controller => "reviews", :action => "dashboard", :id => @dataset.uuid %>',
    type: 'GET',
    global: false,
    cache: false,      
    success: function(data) {
      if (data && data.length > 0) {
        $('#comments .dashboard').html(data).show();
        $('#comments .dashboard .rating-container').rating({ displayOnly: true });
      }
    }
  });

});
</script>

<div id="comments">
  <div class="main-head">
    <div class="float-left"><img src="/images/icon-comments.jpg" alt="Comments" title="Comments" width="20" height="20"></div>
    <div class="float-left"><h3>Reviews</h3></div>
    <div class="clear"></div>
  </div>

  <div class="dashboard">
    <%= render '/reviews/dashboard' %>
  </div>
  <div class="clear"></div>
  
  <div class="reviews">
    <%= render '/reviews/index' %>
  </div>

  <div>
    <span class="button">
    <button id="show-more" style="width: 100%;">Show more...</button>
    </span>     
  </div>

</div>


<div class="new-comment" style="display: none;">
  <%= render "reviews/new" -%>
</div>
