<script>
$('document').ready(function() { 
  $('#comments .rating-container').rating({ displayOnly: true });
  $.ajax({
    url: '<%= url_for :controller => "reviews", :id => @dataset.uuid %>',
    type: 'GET',
    global: false,
    cache: false,      
    success: function(data) {
      if (data && data.length > 0) {
        $('#comments .reviews').html(data).show();
        $('#comments .reviews .rating-container').rating({ displayOnly: true });
      }
    }
  });

  $.ajax({
    url: '<%= url_for :controller => "reviews", :action => "dashboard", :id => @dataset.uuid %>',
    type: 'GET',
    global: false,
    cache: false,      
    success: function(data) {
      if (data && data.length > 0) {
        $('#comments .dashboard').html(data).show();
        $('#comments .dashboard .rating-container').rating({ displayOnly: true });
      }
    }
  });

});
</script>

<div id="comments">
  <div class="main-head">
    <div class="float-left"><img src="/images/icon-comments.jpg" alt="Comments" title="Comments" width="20" height="20"></div>
    <div class="float-left"><h3>Reviews</h3></div>
    <div class="clear"></div>
  </div>

  <div class="dashboard">
    <%= render '/reviews/dashboard' %>
  </div>
  <div class="clear"></div>
  
  <div class="reviews">
    <%= render '/reviews/index' %>
  </div>

<%
=begin %>  
  <div>
    <span class="button">
    <button style="width: 100%;">Show more...</button>
    </span>     
  </div>
<%
=end %>

</div>


<div class="new-comment" style="display: none;">
  <%= render "reviews/new" -%>
</div>
