<% content_for :title, @dataset.name %>

<script>
  <% #ToDo fix the layout so the height of these two boxes don\'t need to be sync'd through JavaScript%>
  $(document).ready(function() {
    $('.sub-content-right').height($('.right-container-left-body').height() - 10);
  });
</script>
<script>
  $(document).ready(function() {
    setTimeout(function() {
      $.ajax({
        url: '<%= url_for :controller => "user", :action => "modify_recently_viewed" %>',
        data: { id: '<%= @dataset.uuid %>' },
        type: 'POST',
        global: false
      });
    }, 5000);

    if (WEHub.logged_in()) {
      if (WEHub.id() == '<%= @dataset.owner ? @dataset.owner.user_id : 0 %>') {
        $('#edit-dataset').show();  
      }
      $('#my-collection').show();
      $('#my-collection').click(function() {
        var ids = [];
        ids.push('<%= @dataset.uuid %>');
        $.post("<%= url_for :controller => 'user', :action => 'modify_collection' %>", { ids: ids }, function(data) { location.reload(); });
      });
      
      $.ajax({
        url: "<%= url_for :controller => 'user', :action => 'reviews'%>?id=" + WEHub.id(),
        cache: false,
        dataType: 'json',
        global: false,
        success: function(data) {
          if (data) {
            for (var i=0 ; i < data.length ; i++) {
              if (data[i] === '<%= @dataset.uuid %>') {
               return;
              }
            }
          }  
          $('#add-review').show();
          $('#add-review').click(function() {
            WEHub.dialog("Review this dataset", $('.new-comment:first').html());
            $('#dialog-modal .rating-container').rating();
            $("#dialog-modal").dialog('option', 'buttons', [{
              text: "Submit",
              click: function() { 
                $.post("<%= url_for :controller => 'reviews', :action => 'create', :id => @dataset.id %>", $(this).find('form').serialize(), function(data) { location.reload(); });
                $(this).dialog("close");              
              }
            }]);
          });
        }
      });      
    }
  });
</script>
<script>
$(document).ready(function() {
  
  var map, layer, lon, lat;
<%
  if @dataset.coordinates && !@dataset.coordinates.empty?
    coords = @dataset.coordinates.split(',') 
    if coords.length == 2
%>
   <%= "lat = #{coords[0]};" %>
   <%= "lon = #{coords[1]};" %>
<%
    end 
  end  
%>

  function loadMap() {
    var options = {
      displayProjection: new OpenLayers.Projection("EPSG:4326"),
      units: "m",
      numZoomLevels: 22
    };  
    map = new OpenLayers.Map('map', options);
    map.addControl(new OpenLayers.Control.LayerSwitcher());
    
<% if @data && @data[:geojson] %>
    var layer = new OpenLayers.Layer.WMS("OpenLayers WMS", "http://vmap0.tiles.osgeo.org/wms/vmap0", { layers: 'basic' });
    var gphy = new OpenLayers.Layer.Google("Google Physical", {type: G_PHYSICAL_MAP, sphericalMercator: false, numZoomLevels: 22});
    var gmap = new OpenLayers.Layer.Google("Google Streets", {sphericalMercator: false, numZoomLevels: 22});
    var ghyb = new OpenLayers.Layer.Google("Google Hybrid", {type: G_HYBRID_MAP, sphericalMercator: false, numZoomLevels: 22});
    var gsat = new OpenLayers.Layer.Google("Google Satellite", {type: G_SATELLITE_MAP, sphericalMercator: false, numZoomLevels: 22});

    map.addLayers([layer, gphy, gmap, ghyb, gsat]);
<% else %>
    var gphy = new OpenLayers.Layer.Google("Google Physical", {type: G_PHYSICAL_MAP, sphericalMercator: true, numZoomLevels: 22});
    var gmap = new OpenLayers.Layer.Google("Google Streets", {numZoomLevels: 22});
    var ghyb = new OpenLayers.Layer.Google("Google Hybrid", {type: G_HYBRID_MAP, numZoomLevels: 22});
    var gsat = new OpenLayers.Layer.Google("Google Satellite", {type: G_SATELLITE_MAP, numZoomLevels: 22});

    map.addLayers([gphy, gmap, ghyb, gsat]);
<% end %>

    WEHub.OpenLayers.setCenter(map, lon, lat, 1);

    markers = new OpenLayers.Layer.Markers("Features");
    map.addLayer(markers);

  }
  
  function setMarker(lon, lat){
    var lonLatMarker = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());

    var feature = new OpenLayers.Feature(markers, lonLatMarker);

    var size = new OpenLayers.Size(20, 34);
    var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
    var icon = new OpenLayers.Icon('/images/marker-blue.png', size, offset);   
    var marker = new OpenLayers.Marker(lonLatMarker, icon.clone());

    markers.addMarker(marker);
  }
        
  function setLayer(name, uuid){
    var datasetLayer = new OpenLayers.Layer.WMS(name, <%= "'#{Rails.application.config.geoserver_address}/geoserver/gn/wms?service=WMS&version=1.1.0&request=GetMap&layers=gn:'".html_safe %> + uuid,
      { transparent: true,
        layers: name,
        format: 'image/png',
        srs: 'EPSG:4326'
      },
      { reproject: false }
    );
    map.addLayer(datasetLayer);
  }
  
  loadMap();
  if (<%= @dataset.wms %>) {
    setLayer(<%= "'#{@dataset.name}'" %>, <%= "'#{@dataset.uuid}'" %>)
  } else if (<%= !@dataset.bounding_box.nil? && !@dataset.bounding_box.empty? %>) { 
  } else {
    setMarker(lon, lat);    
  }
  
<% if @dataset.bounding_box %>

      var boxControl = new OpenLayers.Control();
      OpenLayers.Util.extend(boxControl, {
        draw: function () {
          this.box = new OpenLayers.Handler.Box(boxControl, { "done": function(bounds) { 
            var leftBottom = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.left, bounds.bottom)).transform(map.getProjectionObject(),  new OpenLayers.Projection('EPSG:4326'));
            var rightTop = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.right, bounds.top)).transform(map.getProjectionObject(),  new OpenLayers.Projection('EPSG:4326'));
            setBoundingBox(rightTop.lat, rightTop.lon, leftBottom.lat, leftBottom.lon);
          }});
        }
      });
      
      function setBoundingBox(north, east, south, west) {
        $('[name=north]').val(north);
        $('[name=east]').val(east);
        $('[name=south]').val(south);
        $('[name=west]').val(west);
      }   

      map.addControl(boxControl);
      
      $('#box_selector').click(function(event) {
        event.preventDefault();
        $('#box_display').slideToggle();
        if (boxControl.box.active) {
          boxControl.box.deactivate();
        } else {
          boxControl.box.activate();
          $('html, body').animate({scrollTop: $("#map").offset().top }, 500);
          $('#map').effect("pulsate", { times:1 }, 2000);
        }
      });
      
      $('[name="layer[name]"], form[name=download] [name=layer]').change(function(event) {
        var index = $('[name="layer[name]"]').index(this) 
        if (index < 0) {
          index = $('form[name=download] [name=layer]').index(this);
        }
        drawLayer(layers[index]);
        syncLayerSelectors(index);
      });
      
      function syncLayerSelectors(index) {
        $($('[name="layer[name]"]')[index]).attr('checked', true);
        $($('form[name=download] [name=layer]')[index]).attr('checked', true);
      }      
      
      function drawLayer(layer) {
        var oldBoxes = map.getLayersByName('boxes');
        for (var i=0 ; i<oldBoxes.length ; i++) {
          map.removeLayer(oldBoxes[i]);
        }
        
        var boxes = new OpenLayers.Layer.Boxes('boxes');
        var box = new OpenLayers.Marker.Box(layer.bounds);
        box.setBorder(layer.colour, 2);
        boxes.addMarker(box);
        map.addLayer(boxes);
        
        map.zoomToExtent(layer.bounds);
      }

  var layers = [];
  <% if @dataset.layers %>
    <% @dataset.layers.each_with_index do |layer, i| %>
      <% if layer.bounding_box %>
  <%=
  "
  var bounds#{i} = new OpenLayers.Bounds();
  bounds#{i}.extend(new OpenLayers.LonLat(#{layer.bounding_box[:east]},#{layer.bounding_box[:north]}).transform(new OpenLayers.Projection('EPSG:4326'), map.getProjectionObject()));
  bounds#{i}.extend(new OpenLayers.LonLat(#{layer.bounding_box[:west]},#{layer.bounding_box[:south]}).transform(new OpenLayers.Projection('EPSG:4326'), map.getProjectionObject()));  
  layers.push({bounds: bounds#{i}, colour: '#{box_colours(i)}'});  
  ".html_safe
  -%>
      <% end %>
    <% end %>
    drawLayer(layers[0]);
    
  <% else %>
  <%=
  "var bounds = new OpenLayers.Bounds();
  bounds.extend(new OpenLayers.LonLat(#{@dataset.bounding_box[:east]},#{@dataset.bounding_box[:north]}).transform(new OpenLayers.Projection('EPSG:4326'), map.getProjectionObject()));
  bounds.extend(new OpenLayers.LonLat(#{@dataset.bounding_box[:west]},#{@dataset.bounding_box[:south]}).transform(new OpenLayers.Projection('EPSG:4326'), map.getProjectionObject()));  
  var boxes = new OpenLayers.Layer.Boxes('boxes');
  var box = new OpenLayers.Marker.Box(bounds);
  boxes.addMarker(box);
  map.addLayer(boxes);
  map.zoomToExtent(bounds);
  map.zoomTo(map.zoom - 1);

  ".html_safe
  %>  
  <% end %>

<% end %>

<% if @data && @data[:geojson] %>  
  var featureCollection = <%= "#{@data[:geojson]}".html_safe %>;  
  var geojson_format = new OpenLayers.Format.GeoJSON();
  var vector_layer = new OpenLayers.Layer.Vector(); 
  map.addLayer(vector_layer);
  vector_layer.addFeatures(geojson_format.read(featureCollection));
  map.setBaseLayer(gphy);
<% end %>
});
</script>
<div class="top-back-link">
    <a href="#" onclick="history.go(-1);return false;">Back to Search Results</a>
</div>
<div class="top-container-tab-body" >
  <div class="top-container-tab tab-download">
    <div class="float-left">Download</div>
    <div class="float-left tab-download-arrow"></div>   
  </div>
  <div class="top-container-tab" id="my-collection" style="display: none;">+ My collection</div>
  <div class="top-container-tab" id="add-review" style="display: none;">+ Comments</div>
  <div class="top-container-tab" id="edit-dataset" style="display: none;" onclick="<%= onclick_link_to :controller => 'dataset', :action => 'edit', :id => @dataset.uuid, :anchor => 'mine' %>">Edit</div>  
  <div class="clear"></div>
  
<%= render 'download_format_selector' %>

</div>
<div class="clear"></div>
  
<div class="clear"></div>

<script>
  $(document).ready(function() {
    var supportedTools = <%= (@dataset.tools ? @dataset.tools.split(',') : []).to_json.html_safe %>;
    if (supportedTools && supportedTools.length != 0) {
      $('.tool').each(function() {
        var tool = $(this).find('a').attr('href').match(/tools\/([^/]*)/)
        tool = (tool.length == 2 ? tool[1] : '');
        if (supportedTools.indexOf(tool) == -1) {
          $(this).hide();
        }
      });
    }
  });
</script>
<div class="left-container-tab-body">
  <div class="tab"><%= link_to 'Connect', :controller => 'community' %></div>
  <div class="tab tool"><%= link_to 'Graph', :controller => 'tools', :action => 'graph', :id => @dataset.uuid %></div>
  <div class="tab tool"><%= link_to 'Map', :controller => 'tools', :action => 'map', :id => @dataset.uuid %></div>
  <div class="tab tool"><%= link_to 'Table', :controller => 'tools', :action => 'table', :id => @dataset.uuid %></div>  
</div>
<div class="right-container-body">
  <div class="right-container-left-body">
    <div class="dashed-header"><h2><%= @dataset.name %></h2></div>
    <div class="clear"></div>
    <div class="slight-margin">
      <h2 class="green-dot-blue-head">Metadata</h2>
      
      <div class="float-left width-165 title">Title</div>
      <div class="float-left width-500 text"><%= @dataset.name %></div>
      <div class="clear"></div>
      
      <div class="float-left width-165 title">Date</div>
      <div class="float-left width-500 text"><%= @dataset.date %></div>
      <div class="clear"></div>

    <% if @dataset.period %>
      <div class="float-left width-165 title">Extent</div>
      <div class="float-left width-500 text"><%= @dataset.period %></div>
      <div class="clear"></div>
    <% end %>
      
      <div class="float-left width-165 title">Abstract</div>
      <div class="float-left width-500 text">
        <%= @dataset.description_with_html.html_safe %>
        <br />
        <%= dataset_source_markup(@dataset.source).html_safe unless !@dataset.source %>        
      </div>
      <div class="clear"></div>
      <div class="clear height-25"></div>

    
      <div class="float-left">
    <% if @dataset.bounding_box && !@dataset.bounding_box.empty? %>
        <% bbox = @dataset.bounding_box %>
        <h2 class="green-dot-blue-head">Geographic bounding box</h2>
        <div class="float-left width-165 title">East Bound Longitude</div>
        <div class="float-left width-140 text"><%= bbox[:east] %></div>
        <div class="clear"></div>

        <div class="float-left width-165 title">West Bound Longitude</div>
        <div class="float-left width-140 text"><%= bbox[:west] %></div>
        <div class="clear"></div>

        <div class="float-left width-165 title">North Bound Latitude</div>
        <div class="float-left width-140 text"><%= bbox[:north] %></div>
        <div class="clear"></div>

        <div class="float-left width-165 title">South Bound Latitude</div>
        <div class="float-left width-140 text"><%= bbox[:south] %></div>
        <div class="clear height-25"></div>
    <% elsif @dataset.coordinates && !@dataset.coordinates.empty? %>
        <h2 class="green-dot-blue-head">Geographic coordinates</h2>
        <div class="float-left width-165 title">Latitude</div>
        <div class="float-left width-140 text"><%= @dataset.coordinates.split(',')[0] %></div>
        <div class="clear"></div>

        <div class="float-left width-165 title">Longitude</div>
        <div class="float-left width-140 text"><%= @dataset.coordinates.split(',')[1] %></div>
        <div class="clear height-25"></div>
    <% else %>
        <h2 class="green-dot-blue-head">Geographic bounding box</h2>
        <div class="float-left width-165 title">East Bound Longitude</div>
        <div class="float-left width-140 text">7.21097</div>
        <div class="clear"></div>
        
        <div class="float-left width-165 title">West Bound Longitude</div>
        <div class="float-left width-140 text">3.37087</div>
        <div class="clear"></div>
        
        <div class="float-left width-165 title">North Bound Latitude</div>
        <div class="float-left width-140 text">53.46583</div>
        <div class="clear"></div>
        
        <div class="float-left width-165 title">South Bound Latitude</div>
        <div class="float-left width-140 text">50.75388</div>
        <div class="clear height-25"></div>
    <% end %>
      </div>
      <div class="float-left" style="padding-left: 5px;">
        <div id="map" style="width:370px; height:200px"></div>        
      </div>
      <div class="clear"></div>
    <% if @dataset.layers %>
      <h2 class="green-dot-blue-head">Feature Layers</h2>
      <%
        unique_bboxes = []
        @dataset.layers.each { |b| unique_bboxes.push(b.bounding_box.to_s) }
        unique_bboxes.uniq!
      %>
      <% @dataset.layers.each_with_index do |layer, i| %>
         <% if layer.bounding_box %>
      <div class="float-left width-165 title">
      <%= radio_button("layer", "name", layer.layer_id, :checked => (i == 0)) %><%= label("layer", "name", ("Layer #{i+1}").html_safe, :value => layer.layer_id) %>
      </div>
      <div class="float-left width-500 text"><%= layer.name %>, <%= layer.period %></div>          
      <div class="clear"></div>
        <% end %>
      <% end %>
    <% end  %>
      
    <% if !@dataset.author.nil? %>
      <h2 class="green-dot-blue-head">Point of contact</h2>
      
      <div class="float-left width-165 title">Individual name</div>
      <div class="float-left width-500 text"><%= @dataset.author.name %></div>
      <div class="clear"></div>

<%
=begin %>     
      <div class="float-left width-165 title">Organisation name</div>
      <div class="float-left width-500 text">Deltares/TNO Geological Survey of the Canada</div>
      <div class="clear"></div>
<%
=end %>     
      <div class="float-left width-165 title">Email</div>
      <div class="float-left width-500 text"><%= @dataset.author.email %></div>
      <div class="clear"></div>
<%
=begin %>     
      <div class="float-left width-165 title">Role</div>
      <div class="float-left width-500 text">PointOfContact</div>
      <div class="clear"></div>
<%
=end %>
    <% end %>     
      <div class="float-left width-165 title">Descriptive keywords</div>
      <div class="float-left width-500 text"><%= @dataset.keywords %></div>
      <div class="clear"></div>
      
      <div class="clear height-25"></div>
      
<%
=begin %>
      
      <h2 class="green-dot-blue-head">Distribution information</h2>
      
      <div class="float-left width-165 title">Intractive Map</div>
      <div class="float-left width-500 text">http://www.dinoservice.nl/wms/dinomap/MO8MOO21?format=image/png</div>
      <div class="clear"></div>
      
      <div class="clear height-25"></div>
<%
=end %>     
      
      <%= render 'vocabulator_terms' %>
      
<% if !@dataset.creative_commons_license.nil? %>
      <h2 class="green-dot-blue-head">License</h2>
      <div class="float-left width-165 title">&nbsp;</div>
      <div class="float-left width-500 text"><%= "<a href='http://creativecommons.org/licenses/#{@dataset.creative_commons_license}/3.0/'><img src='/images/#{@dataset.creative_commons_license}.png' alt='creative commons' /></a>".html_safe -%></div>
      <div class="clear"></div>
<% end %>      
      
      <div class="clear height-25"></div>      
    </div>
  </div>
  <div class="sub-content-right">
    <%= render 'shared/right_panel' %>
  </div>    

  <div class="clear"></div>
  
  <%= render 'reviews' %>
    
</div>
