<% cache "search_dataset_#{dataset.uuid}" do %>
<div class="search-result-each search-result-each-box">
  <div class="search-checkbox">
    <input type='checkbox' name='download' value='<%= dataset.uuid %>' id='<%= "download_#{dataset.uuid}" %>' />
  </div>
  <div class="search-text">
    <div class="float-left">
      <label for='<%= "download_#{dataset.uuid}" %>'>
      <span class="search-title">
        <%= dataset.name %>
      </span>&nbsp;
      <span class="search-date">
        <%= dataset.date %>
      </span>
      </label>
    </div>
    <div class="clear"></div>
    <p>
      <span class="head">Abstract:</span>
      <span>
        <%= more_markup(dataset.description, 255).html_safe -%>
      </span>
    </p>
    <div>
    <% if dataset.author && !(dataset.author.name.nil? || dataset.author.email.nil?) %>
      <span class="head">Author: </span>
      <span><%= dataset.author.name %> <%= dataset.author.email %></span><br />
    <% end %>
    <% if dataset.period %>
      <span class="head">Date: </span>
      <span><%= dataset.period %></span><br />
    <% end %>
    <% if dataset.keywords %>
      <span class="head">Number of Observed Properties: </span><span><%= dataset.keywords.scan(/,/).count %></span><br />
      <span class="head">Features: </span><span>
        <%= more_markup(dataset.keywords, 120).html_safe -%>
      </span><br />
      
      <% if dataset.review_summary && dataset.review_summary.average %>      
      <table style="border-spacing: 0px;">
        <tr>
          <td style="padding: 0px;"><span class="head">Average Rating: </span></td>
          <td>
        <section class="rating-container" style="display: inline;">
        <% 5.times do |i| %>
          <%= radio_button("#{dataset.id}", 'rating', i+1, { :checked => (i+1 == dataset.review_summary.average.ceil) }) %>
        <% end %>
        </section>
          </td>
          <td>
        (<%= dataset.review_summary['sum'] %> out of <%= dataset.review_summary.possible %> stars)
          </td>
        </tr>
      </table>
      <% end %>
    <% end %>
    </div>
    <div class="search-btm-image-link">
      <%= link_to(image_tag('2.png', :alt => 'Map it', :border => 0), { :controller => 'tools', :action => 'map', :ids => dataset.id }, { :class => 'map-link' }).html_safe %>
      <%= link_to(image_tag('1.png', :alt => 'Graph it', :border => 0), { :controller => 'tools', :action => 'graph', :ids => dataset.id }, { :class => 'graph-link' }).html_safe %>
      <%= link_to(image_tag('3.png', :alt => 'More details', :border => 0), { :controller => 'catalogue', :action => 'details', :id => dataset.id, :seo => scrub_for_seo(dataset.name) }).html_safe %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<% end %>
