<style>
  .format-selector {
    font-size: .8em;
    padding: 10px;
    margin-left: 128px;
    z-index: 100;
  }
</style>

<script>
  $(document).ready(function() {
  
    $('button').button();
    
    function download() {
      var format = $('[name=download-format]:checked').val();
      var ids = [];
      $('[type=checkbox][name=download]:checked').each(function() { ids.push($(this).val()); })
      if (ids.length != 0) {
        $.ajax({
          url: "<%= url_for :controller => 'item', :action => 'download' %>?ids=" + ids + '&format=' + format,
          timeout: 300000,
          success: function(data) { 
            if (data.success) {
              if (data.errors.length != 0) {
                WEHub.modal("We're Sorry", "We've included all the successful conversions in this download, but couldn't convert all your datasets into your selected format");                
              }
              window.location = "<%= url_for :controller => 'item', :action => 'download' %>?filename=" + data.filename; 
            } else {
              WEHub.modal("We're Sorry", "Your selected datasets could not be generated with your desired format. Please select a new format and try again");
            }
          }          
        });
      } else {
        WEHub.modal("Warning", "No datasets have been selected. Please select a dataset to download");
      }
    }
        
    function bindDownloadButtonset() {
      var formatSelector = $('.format-selector');
      formatSelector.buttonset();    

      $('button[name=download]')
        .button()
        .click(function() {
          formatSelector.hide();
          download();
        })
        .next()
          .button({ text: false, icons: { primary: 'ui-icon-triangle-1-s' }})
          .click(function() { 
            formatSelector.toggle();
           })
          .parent()
            .buttonset();
            
      $('[name=download-format]')
        .click(function() {
          formatSelector.hide();
          download();
        });
    }
    bindDownloadButtonset()
    
    $('[name=clear]').click(function() {
      $('[type=checkbox][name=download]').attr('checked', false);
    });

    $('[name=select-all]').click(function() {
      $('[type=checkbox][name=download]').attr('checked', true);
    });
    
    $('.map-link').click(function(event) {
      var checked = $('[type=checkbox][name=download]:checked');
      
      var ids = [];
      checked.each(function() {
        ids.push($(this).val());
      })
      if (checked.length > 1) {
        event.preventDefault();
        var url = event.target.parentElement.href;
        window.location = url.replace(/map\/(.*)/, 'map/?ids=' + ids.join(','));
      }
    });

    if (WEHub.logged_in()){
      $('[name=my-collection]').click(function() {
        var ids = [];
        $('[type=checkbox][name=download]:checked').each(function() { ids.push($(this).val()); })
        if (ids.length != 0) {
          $.post("<%= url_for :controller => 'user', :action => 'modify_collection' %>", { ids: ids }); 
        }
      });

      $('[name=my-collection]').show();
    }    
  })
</script>

<div style="text-align: center; padding-top: 20px;">
  <div style="padding-bottom: 5px;">
    <span id="download-buttonset-fragment">
      <span>
        <button name="download">Download</button>
        <button name="select-download-format">Select Format</button>
      </span>
    </span>

    <button name="my-collection" style="display: none;">+ My collection</button>
    <button name="select-all">Select all</button>
    <button name="clear">Clear</button>
  </div>

  <span style="display: none;" class="format-selector ui-widget-content ui-corner-all ui-state-active">
    Select format
    <% ['JSON', 'Shape', 'XML', 'CSV'].each do |format| %>
      <%= label_tag "download-format[#{format}]", format %><%= radio_button_tag 'download-format', format %>
    <% end %>
  </span>
</div>
