
<table>  
  <tr>
    <td valign="top">  
    <%= render "search" %>    
    </td>
    <td>
      <table>  
      <% @results.each do |result| %>  
        <tr>
          <td style="padding-right: 10px" valign="top"><img src="http://174.129.10.37:8080/geonetwork/srv/<%= result.thumbnail %>" width="100px" /></td>
          <td>
            <a href=""><%= result.title %></a><br />
            <%= result.publication_date %> ... <%= result.description %><br />
            <ul>
              <% result.resources.each do |resource| %>
                <li><a href="<%= resource.uri %>"><%= resource.title %></a> (<%= resource.type %>)</li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>  
      </table>
    </td>
  </tr>
</table>