<%
=begin %>

<div class="share-search-box">
	<div class="float-left">
    <%= link_to image_tag('share-dataset.jpg', :alt => 'Share a Dataset', :border => 0), { :controller => 'dataset', :action => 'new' } %>
	</div>
<%# In this context, what does the search button do? Search through the private datasets that are available to this user? Search through all public datasets? Search through both? %>
	<div class="float-right">
		<div class="share-find-text">
			Find Datasets:
		</div>
		
		<div class="share-search-text">
			<input type="text" />
		</div>
		
		<div class="float-left">
			<a href="#">
				<img src="/images/community-search.jpg" border="0" alt="Search" title="Search" />
			</a>
		</div>
	</div>
	<div class="clear"></div>
</div>

<%
=end %>
<script>
  $('document').ready(function() {
    var selected = 'selected';

    var nav = $('#dataset-upper-nav');
    nav.children().removeClass(selected);

    nav.find('a').each(function(k,v) { 
      var item = $(v);
      if (item.attr('href').search(window.location.hash) > 0) {
        item.addClass(selected);
      }
    });
  });
</script>
<div class="clear"></div>
<div class="share-middle-filter" id="dataset-upper-nav">
  <%= link_to 'Files friends have shared', {:controller => 'dataset', :action => 'show', :anchor => 'friends'}, {:id => 'friend-datasets'} %>
  <%= link_to 'Files groups have shared', {:controller => 'dataset', :action => 'show', :anchor => 'groups'}, {:id => 'group-datasets'} %>
  <%= link_to 'Files you have shared', {:controller => 'dataset', :action => 'show', :anchor => 'mine'}, {:id => 'my-datasets'} %>
  <%= link_to 'Contribute (share your dataset)', :controller => 'dataset', :action => 'new', :anchor => 'share' %>
</div>
