<script>
  $(document).ready(function() {

    $('#groups').click(function(event) {
      $('#permission_group').attr('checked', true);
    });
    
    $('[type="submit"]').click(function(event) {
      event.preventDefault();
      
      var required = ['dataset[feature_type]', 'permission'];
      $('form .required').each(function(i,e) { required.push($(e).attr('name')); });
      var form = $('form');

      var errors = []
      $(required).each(function(i,e) {
        element = $('form').find('[name="' + e + '"]');
        element.removeClass('error');
        if (element.val() === '') {
          element.addClass('error');
          errors.push(element.attr('friendly') ? element.attr('friendly') : e);
        }
      });

      if (errors.length > 0) {
        var errorMsg = ''
        $(errors).each(function(i,e) { errorMsg += '<li>' + e + ' can\'t be blank</li>'; });
        $('#error-explanation').html('<strong>Errors:</strong><ul>' + errorMsg + '</ul>').focus();
        $('#error-explanation, .error').effect("highlight", {}, 3000);
      } else {
        $("#terms-dialog").dialog({
          zIndex: 2000, 
          height: 250,
          width: 600,
          title: 'Terms and conditions',
          modal: true,
          buttons: { 
            "Yes, I agree": function() {
              $(this).dialog("close");
              
              $.ajax({
                url: "<%= url_for :controller => 'dataset', :action => 'create' %>",
                data: new FormData($('form[name=create]')[0]),
                type: 'POST',
                contentType: false,
                processData: false,        
                success: function(data){
                  if (data && data.callback) {
                    $("#success-dialog").dialog({
                      height: 250,
                      width: 600,
                      title: 'Thanks!',
                      modal: true,
                      buttons: { "Ok": function() { window.location = data.callback; } }
                    });
                    setTimeout(function() { window.location = data.callback; }, 18000);
                  }
                }, 
                error: function(data){
                  var message = data.responseText;
                  try {
                    var message = $.parseJSON(message);
                    if (typeof message == 'object') {
                      if (message.exception) {
                        message = message.exception
                      }
                      if (message.indexOf(':')) {
                        message = message.match(/.*: (.*)/)[1];                    
                      }
                    }                  
                  } catch(e) {
                  }
                  WEHub.modal("We're Sorry", "We're exeriencing an issue with the data you've submitted. <p>Error: <em>" + message + "</em></p>");
                }
              });
            },
            "No, I do not agree": function() { $(this).dialog("close"); }
          }
        });
      }
    }); 
    
    $('[name=filename]').change(function() {
      console.log($(this).val().match(/\.zip$/) ? 't' : 'f')
      if ($(this).val().match(/\.zip$/)) {
        $('.shapefile-dialog').fadeIn('slow');
      } else {
        $('.shapefile-dialog').fadeOut('slow');
      }
    });
    $('#reprojector').hide();
    function mapCode() {
      $('[name="create"] [name="dataset[epsg]"]').val($('[name="reproject"] [name="projection[epsg]"]').val());
    }
    $("#reprojector").find('[name=use-projection]').click(function(event) {
      event.preventDefault();
      mapCode();
      $("#reprojector").dialog('close');
    });
    $('#reprojector-tool').click(function(event) {
      event.preventDefault();
      var filename = $('form[name=create] [name=filename]').clone();
      filename.hide();
      $(filename).appendTo('form[name=reproject]');
      
      $("#reprojector").dialog({
        width: 1090,
        title: 'Visualize your shape file reprojection',
        modal: true,
        zIndex: 1,
        buttons: { 
          "Ok": function() { 
            mapCode();
            $(this).dialog("close");
          },
          "Cancel": function() { $(this).dialog("close"); }
        }
      });
    });
  });

</script> 

<%= render '/shared/left_panel' %>

<div class="profile-right-container">
  <%= render '/shared/menu_horizontal_tabs' %>
  <div class="community-tab-right">
    <div class="profile-tab ">
      <%= link_to 'Profile', :controller => 'user', :action => 'profile' %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="profile-content-container">
    <%= render 'upper_navbar' %>
    
    <div>
      <%= render 'dataset_form' %>
    </div>
    <div class="clear"></div>    
  </div>
</div>
<div class="clear"></div>

<div id="terms-dialog" style="display: none;">
  I agree that the data I am about to upload meets our definition of openness. <p>Openness: <strong>"A piece of content or data is open if anyone is free to use, reuse, and redistribute it &mdash; subject only, at most, to the requirement to attribute and share-alike."</strong></p>
</div>

<div id="success-dialog" style="display: none;">
  <p><strong>Thank you for your contribution!</strong></p><p>Your data submission was successful, but it will take a few hours before you'll find it in our search index. Please sit tight as our search bot indexes your data.</p>
</div>

<%= render '/projection/reprojector' %>
