<script>
  $(document).ready(function() {
    function uuidFromUri() {
      return window.location.search ? window.location.search.match(/id=([^&]*)/)[1] : false;
    }
    function toggleViews(eventId) {
      var selected = 'selected';
      $('.share-middle-filter').children().removeClass(selected)
      window.location.hash = eventId;
      switch (eventId)
      {
        case 'friends': 
          $('#friend-dataset-list').show();
          $('#group-dataset-list, #my-dataset-list').hide();
          $('#friend-datasets').addClass(selected);
          break;
        case 'groups': 
          $('#group-dataset-list').show();
          $('#friend-dataset-list, #my-dataset-list').hide();
          $('#group-datasets').addClass(selected);
          break;
        case 'mine': 
          $('#my-dataset-list').show();
          $('#friend-dataset-list, #group-dataset-list').hide();
          $('#my-datasets').addClass(selected);
          var uuid = uuidFromUri();
          if (uuid) {
            $('.dataset.' + uuidFromUri()).effect("highlight", {}, 6000);
          }
        break;
        default:
      }
    }

    $('#friend-datasets, #group-datasets, #my-datasets').click(function(event) {
      event.preventDefault();
      var eventId = $(event.target).attr('href').split('#')[1];
      toggleViews(eventId);
    });

    toggleViews(window.location.hash !== '' ? window.location.hash.replace('#','') : 'friends');
    
  });
</script>

<%= render '/shared/left_panel' %>

<div class="profile-right-container">
  <%= render '/shared/menu_horizontal_tabs' %>
	<div class="community-tab-right">
		<div class="profile-tab ">
				<%= link_to 'Profile', :controller => 'user', :action => 'profile' %>
		</div>
	</div>
	<div class="clear"></div>
	<div class="profile-content-container">
    <%= render 'upper_navbar' %>

		<div class="clear"></div>

    <div id="friend-dataset-list">
    <%= render(:partial => '/shared/dataset', :collection => @friend_datasets) || render('/shared/no_results') %>
    </div>
    <div id="group-dataset-list">
    <%= render(:partial => '/shared/dataset', :collection => @group_datasets) || render('/shared/no_results') %>
    </div>
    <div id="my-dataset-list">
    <%= render(:partial => '/shared/dataset', :collection => @my_datasets) || render('/shared/no_results') %>
    </div>

    <% if @friend_datasets || @group_datasets || @my_datasets %>
      <%= render '/shared/download_panel_bottom' %>
    <% end %>   

	</div>
</div>
<div class="clear"></div>
