<script>
 $(document).ready(function() {

    <%# Advanced Search toggle %>
    var opened = false;
    var searchMode = $('#search-mode');
    searchMode.click(function(event) {
      event.preventDefault();
      $('#advanced-search-panel').toggle();
      if (!opened) {
        searchMode.text('Simple Search');
        opened = true;
      } else {
        opened = false;
        searchMode.text('Advanced Search');
      }
    });

  });  

  $(document).ready(function() {
  	
  	var map, layer;

    function loadMap() {
      map = new OpenLayers.Map( 'map' );

      layer = new OpenLayers.Layer.WMS( "OpenLayers WMS", "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );
      map.addLayer(layer);

      map.setCenter(new OpenLayers.LonLat(-114.922485, 56.400224), 5);    

      markers = new OpenLayers.Layer.Markers("Features");
      map.addLayer(markers);           
    }
    
    function setMarker(lon, lat, html){
      var lonLatMarker = new OpenLayers.LonLat(lon, lat);
  
      var feature = new OpenLayers.Feature(markers, lonLatMarker);

      feature.closeBox = true;
      feature.data.popupContentHTML = html;
      feature.data.overflow = "hidden";

      var size = new OpenLayers.Size(21, 25);
      var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
      var icon = new OpenLayers.Icon('http://www.openlayers.org/dev/img/marker-blue.png', size, offset);   
      var marker = new OpenLayers.Marker(lonLatMarker, icon.clone());

      marker.feature = feature;

      var markerClick = function(evt) {
          if (this.popup == null) {
              this.popup = this.createPopup(this.closeBox);
              map.addPopup(this.popup);
              this.popup.show();
          } else {
              this.popup.toggle();
          }
          OpenLayers.Event.stop(evt);
      };
      marker.events.register("mousedown", feature, markerClick);

      markers.addMarker(marker);
    }
    <%
    if !@search.results.empty? 
    %>
    loadMap();
    <%
    end
    %>
    <% 
    if @search.results && !@search.results.empty? 
      @search.results.each_with_index do |result, index| 
        if result.coordinates
          coords = result.coordinates.split(',') 
          if coords.length == 2 
          %>
    <%= "setMarker(#{coords[1]}, #{coords[0]}, '#{result.name.gsub('\'','')}. <a href=\"/catalogue/details/#{result.uuid}\">More details</a>');".html_safe %>
          <% 
          end
        end
      end
    end 
    %>
 });
    
</script>

<div class="top-search-result">
	<span class="grey">Search Result:</span>&nbsp;<span class="black"><%= @search.query %></span>
</div>
<div class="clear height-10"></div>

<%= render 'search_panel' %>

<div class="search-center-container">
	<div id="map" style="width:577px;"></div>
	<!--div>
		<img src="/images/temp-gmap.jpg" title="Temp Gmap" alt="Temp Gmap" border="0" />
	</div-->
	<div class="clear height-15"></div>
	<div class="dashed-header"><h2>Search results:</h2></div>
	<div class="clear height-15"></div>
	
  <%= render(:partial => '/shared/dataset', :collection => @search.results) || render('/shared/no_results') %>

  <% if !@search.results.empty? %>

  <%= render '/shared/download_panel_bottom' %>
	
	<% end %>
</div>
<div class="search-box">
	<div class="clear height-10"></div>
	<div class="sub-content-right" style="width:210px;">
    <%= render 'shared/right_panel' %>
	</div>
</div>
<div class="clear"></div>
