<script>
 $(document).ready(function() {
    var opened = false;
    var searchMode = $('#search-mode');
    searchMode.click(function(event) {
      event.preventDefault();
      $('#advanced-search-panel').toggle();
      if (!opened) {
        searchMode.text('Simple Search');
        opened = true;
      } else {
        opened = false;
        searchMode.text('Advanced Search');
      }
    });
  });  

	var lon = -113.98650539999994;
	var lat = 49.07069879900007;
	var zoom = 5;
	var map, layer;
	
	var data 		=	'<%= @json%>';
	var unescaped 	=	$('<textarea />').html(data).val();
	var json_map	=	jQuery.parseJSON(unescaped);

  $(document).ready(function() {
      map = new OpenLayers.Map( 'map' );
            layer = new OpenLayers.Layer.WMS( "OpenLayers WMS", 
                    "http://vmap0.tiles.osgeo.org/wms/vmap0",
                    {layers: 'basic'} );
            map.addLayer(layer);
            map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
            var featurecollection = json_map;
           var geojson_format = new OpenLayers.Format.GeoJSON();
           var vector_layer = new OpenLayers.Layer.Vector(); 
           map.addLayer(vector_layer);
           vector_layer.addFeatures(geojson_format.read(featurecollection));

  });
    
</script>

<div class="top-search-result">
	<span class="grey">Search Result:</span>&nbsp;<span class="black"><%= @search.query %></span>
</div>
<div class="clear height-10"></div>

<%= render 'search_panel' %>

<div class="search-center-container">
	<div id="map" style="width:577px;"></div>
	<!--div>
		<img src="/images/temp-gmap.jpg" title="Temp Gmap" alt="Temp Gmap" border="0" />
	</div-->
	<div class="clear height-15"></div>
	<div class="dashed-header"><h2>Search results:</h2></div>
	<div class="clear height-15"></div>
	
  <%= render "search_results" %>

  <%= render '/shared/download_panel_bottom' %>
	
	<div class="clear height-25"></div>
	<div class="pagination">
		<span class="disabled prev_page">Previous</span>
		<span class="current">1</span>
		<a rel="next" href="/view/1?page=2">2</a>
		<a href="/view/1?page=3">3</a>
		......
		<a href="/view/1?page=98">98</a>
		<a href="/view/1?page=99">99</a>
		<a rel="next" class="next_page" href="/view/1?page=2">Next</a>
	</div>
</div>
<div class="search-box">
	<div class="clear height-10"></div>
	<div class="sub-content-right" style="width:210px;">
    <%= render 'shared/right_panel' %>
	</div>
</div>
<div class="clear"></div>
