
<script>
  $(document).ready(function() {

    $('button').button();
    
    function download() {
      var format = $('[name=download-format]:checked').val();
      var ids = [];
      $('[type=checkbox][name=download]:checked').each(function() { ids.push($(this).val()); })
      window.location = '/item/download/?ids=' + ids + '&format=' + format;
    }
        
    function bindDownloadButtonset() {
      var formatSelector = $('.format-selector');
      formatSelector.buttonset();    

      $('button[name=download]')
        .button()
        .click(function() {
          formatSelector.hide();
          download();
        })
        .next()
          .button({ text: false, icons: { primary: 'ui-icon-triangle-1-s' }})
          .click(function() { 
            formatSelector.toggle();
           })
          .parent()
            .buttonset();
            
      $('[name=download-format]')
        .click(function() {
          formatSelector.hide();
          download();
        });
    }
    bindDownloadButtonset()

    $('[for=download-format-JSON]').addClass('ui-state-active');
    
    $('[name=search][type=submit]')
      .button()
      .click(function(e) { 
        e.preventDefault();
        var keywords = $('#search_query').val()
        $.get('/search/query', { keywords: keywords }, function(data) {
          $('#results').html(data);
          $('.keyword').text(keywords);
        });      
        return false;
      });    
    
    $('#results, #dataset-navigation').click(function(e) {      
      if (e.target.hash) {
        e.preventDefault();
        var id = e.target.hash.replace(/#\!\//, '');
        var keywords = $('#search_query').val();
        $.getJSON('/search/info/', { id: id }, function(data) {
          if (data) { 
            downloadPartial = $('#download-buttonset-fragment').clone().prepend('<br />').html();
            WEHub.dialog('More details', '<span>name:</span> ' + data.title + '<br /><span>description:</span> ' + data.description + '<br /><span>date:</span> ' + data.publication_date + downloadPartial);

            bindDownloadButtonset();
          }
        });
        return false;
      }
    });

    

    $("#dataset-navigation").treeview({
      persist: "location",
      unique: true
    });

  })
</script>
<style>
  #dataset-navigation {
    font-size: .7em;
    height: 281px;    
    overflow: auto;
    border: solid 1px #D4D4D4;
  }
  h2 {
    font-size: .8em;
  }
  #download-buttonset-fragment .format-selector {
    position: absolute;
    font-size: .8em;
    padding: 10px;
    left: 403px;
    margin-top: 2px;
    z-index: 100;
  }
  .ui-dialog .format-selector {
    position: absolute;
    font-size: .8em;
    padding: 10px;
    left: 137px;
    margin-top: 2px;
  }
  table .search-result td {
    padding-bottom: 20px;
  }
</style>
<table>
  <tr>
    <td rowspan="2" valign="top" style="width: 250px; border-right: solid 1px grey; padding-right: 5px; padding-bottom: 20px;">
      <h2>Browse:</h2>      
      <ul id="dataset-navigation"> 
        <li>Base Data
          <ul>
      <% @search.base_data.each_with_index do |result, index| %>         
            <li><a href="/#!/<%= result.id %>" onclick="return false;"><%= result.title %></a></li>
      <% end %>
          </ul>
        </li>
        <li class="closed">Observation Data
          <ul>
      <% @search.observation_data.each_with_index do |result, index| %>         
            <li><a href="/#!/<%= result.id %>" onclick="return false;"><%= result.title %></a></li>
      <% end %>
          </ul>
        </li>        
      </ul>
      
      <h2>Search:</h2>
      <%= render "search" %>
      
    </td>
    <td style="padding-left: 5px;" valign="top">
      <%= render "map" %>
      <h2>Results for '<span class='keyword'><%= @search.query %></span>'</h2>  

      <div id='results'>
        <%= render "search_results" %>
      </div>
      
    </td>
  </tr>
  <tr>
    <td valign="bottom">
      <span id="download-buttonset-fragment">
        <span>
          <button name="download">Download</button>
          <button name="select-download-format">Select Format</button>
        </span>      
        <span style="display: none;" class="format-selector ui-widget-content ui-corner-all ui-state-active">
          Select format
          <%
            formats = ['JSON', 'Shape']
            formats.each do |format|
          %>
            <label for="download-format-<%= format %>"><%= format %></label><input type="radio" name="download-format" value="<%= format %>" id="download-format-<%= format %>" />
          <%
            end
          %>
        </span>
      </span>
      <button name="graph">Graph</button>
      <button name="map-view">Map View</button>
      <button name="clear">Clear</button>

    </td>
  </tr>
</table>

<%= render "dialog" %>
