<script>
 $(document).ready(function() {

    <%# Advanced Search toggle %>
    var opened = false;
    var searchMode = $('#search-mode');
    searchMode.click(function(event) {
      event.preventDefault();
      $('#advanced-search-panel').toggle();
      if (!opened) {
        searchMode.text('Simple Search');
        opened = true;
      } else {
        opened = false;
        searchMode.text('Advanced Search');
      }
    });

  });  

  $(document).ready(function() {
  	
  	var map, layer, selectFeature;

    function loadMap() {
    
      map = new OpenLayers.Map('map');
      map.addControl(new OpenLayers.Control.LayerSwitcher());
      
      var gphy = new OpenLayers.Layer.Google("Google Physical", {type: G_PHYSICAL_MAP});
      var gmap = new OpenLayers.Layer.Google("Google Streets", {numZoomLevels: 20});
      var ghyb = new OpenLayers.Layer.Google("Google Hybrid", {type: G_HYBRID_MAP, numZoomLevels: 20});
      var gsat = new OpenLayers.Layer.Google("Google Satellite", {type: G_SATELLITE_MAP, numZoomLevels: 22});

      map.addLayers([gphy, gmap, ghyb, gsat]);

      map.setCenter(new OpenLayers.LonLat(-114.922485, 56.400224), 4);

      markers = new OpenLayers.Layer.Markers("Features");
      map.addLayer(markers);

      var boxControl = new OpenLayers.Control();
      OpenLayers.Util.extend(boxControl, {
        draw: function () {
          this.box = new OpenLayers.Handler.Box(boxControl, { "done": function(bounds) { 
            var leftBottom = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.left, bounds.bottom));
            var rightTop = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.right, bounds.top));
            setBoundingBox(leftBottom, rightTop);
          }});
        }
      });
      map.addControl(boxControl);

      $('#box_selector').click(function(event) {
        event.preventDefault();
        if (boxControl.box.active) {
          boxControl.box.deactivate();
        } else {
          boxControl.box.activate();
        }
      });
    }
    
    function setBoundingBox(leftBottom, rightTop){
      $('[name="bounding_box[top]"]').val(rightTop.lat);
      $('[name="bounding_box[right]"]').val(rightTop.lon);
      $('[name="bounding_box[bottom]"]').val(leftBottom.lat);
      $('[name="bounding_box[left]"]').val(leftBottom.lon);
    }   
    
    function setMarker(lon, lat, html){
      var lonLatMarker = new OpenLayers.LonLat(lon, lat);
  
      var feature = new OpenLayers.Feature(markers, lonLatMarker);

      var size = new OpenLayers.Size(20, 34);
      var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
      var icon = new OpenLayers.Icon('/images/marker-blue.png', size, offset);   
      
      function onPopupClose(evt) {
          this.destroy();
      }
      
      function onFeatureSelect(evt) {
        popup = new OpenLayers.Popup.FramedCloud("featurePopup",
                               feature.lonlat,
                               null,
                               html,
                               null, true, onPopupClose);
        popup.feature = feature;
        map.addPopup(popup, true);
      }
      
      function onFeatureUnselect(evt) {
        feature = evt.feature;
        if (feature.popup) {
          popup.feature = null;
          map.removePopup(feature.popup);
          feature.popup.destroy();
          feature.popup = null;
        }
      }
      var marker = new OpenLayers.Marker(lonLatMarker, icon.clone());

      marker.feature = feature;
      marker.events.register("mousedown", feature, onFeatureSelect);
      markers.addMarker(marker);
    }
    <%
    if !@search.results.empty? 
    %>
    loadMap();
    <%
    end
    %>
    <% 
    if @search.results && !@search.results.empty? 
      @search.results.each_with_index do |result, index| 
        if result.coordinates
          coords = result.coordinates.split(',') 
          if coords.length == 2 && (coords[0].scan(/ /).empty? || coords[1].scan(/ /).empty?)
          %>
    <%= "setMarker(#{coords[1]}, #{coords[0]}, '#{result.name.gsub('\'','')}. <a href=\"/catalogue/details/#{result.uuid}\">More details</a>');".html_safe %>
          <% 
          end
        end
      end
    end 
    %>
 });
    
</script>

<div class="top-search-result">
	<span class="grey">Search Result:</span>&nbsp;<span class="black"><%= @search.query %></span>
</div>
<div class="clear height-10"></div>

<%= render 'search_panel' %>

<div class="search-center-container">
	<div id="map" style="width:577px;"></div>
	<div class="clear height-15"></div>
	<div class="dashed-header"><h2>Search results:</h2></div>
	<div class="clear height-15"></div>
	
  <%= render(:partial => '/shared/dataset', :collection => @search.results) || render('/shared/no_results') %>

  <% if !@search.results.empty? %>

  <%= render '/shared/pagination' %>

  <%= render '/shared/download_panel_bottom' %>
	  
	<% end %>
</div>
<div class="search-box">
	<div class="clear height-10"></div>
	<div class="sub-content-right" style="width:210px;">
    <%= render 'shared/right_panel' %>
	</div>
</div>
<div class="clear"></div>
