<% unless @my_groups.nil? %>
  <% @my_groups.each do |group|  %>
  <div class="search-result-each search-result-each-box">
	  <div class="search-text">
		  <div class="float-left">
			  <span class="group-title">
				  <%= group.name %>
			  </span>&nbsp;
			  <span class="group-date">
				  <%= group.created_at %>
			  </span>
		  </div>
		  <div class="clear"></div>
		  <p>
			  <span class="head">Description:</span>
			  <span>
          <%= group.description %>
			  </span>

		  </p>
      <span class="head">This group is <%= group.private? ? 'private' : 'public' %></span>          
    </div>
    <div>
      <%= link_to 'Edit group', { :controller => 'groups', :action => 'edit', :id => group.id } %>
	  </div>
	  <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <% end %>			
<% end %>
