<%= form_for :group, :url => { :action => 'create' } do |f| %>
<table>
  <tr><th>Create Group</th></tr>
  <tr><td style="text-align: right;"><%= f.label :name, 'Name' %></td><td><%=  f.text_field :name %></td></tr>
  <tr><td style="text-align: right;"><%= f.label :description, 'Description' %></td><td><%=  f.text_field :description %></td></tr>
  <tr><td style="text-align: right;"><%= f.label :private, 'Is this group private?' %></td><td style="text-align: left;"><%= f.check_box :private %></td></tr>
  <tr><td></td></tr>
  <tr><td colspan="2" style="text-align: right;"><%= f.submit 'Create', :name => 'create-group' %></td></tr>
</table>
<% end %>
