<script>
  $(document).ready(function() {
    function idFromUri() { return window.location.search ? window.location.search.match(/(group_id|id)=([^&]*)/)[2] : false; }    
    if (idFromUri()) {
      $('.group.' + idFromUri()).effect("highlight", {}, 6000);
    }
  
    function eventId(event) { return event.target.id }
    $('#create, #mine, #all').click(function(event) {
      event.preventDefault();
      var selectedClassName = 'selected';
      switch (eventId(event))
      {
        case 'create': 
          event.preventDefault();          
          $.get("<%= url_for :controller => 'groups', :action => 'new' %>", function(data) { 
            WEHub.modal("Create group", data, { 
              zIndex: 0,
              buttons: [{
                text: "Close",
                click: function() { 
                  $(this).dialog("close"); 
                }
              }]
            });
            $('[name=create-group]').button();
          });
          break;
        case 'mine': 
          $('.share-middle-filter').children().removeClass(selectedClassName);
          $('#my-group-list').show();
          $('#all-group-list').hide();
          $('#mine').addClass(selectedClassName);
          break;
        case 'all': 
          $('.share-middle-filter').children().removeClass(selectedClassName);
          $('#all-group-list').show();
          $('#my-group-list').hide();
          $('#all').addClass(selectedClassName);
        break;
        default:
      }
    });
    if (location.hash) { $(location.hash).click(); }
    
    $('[name=edit-group], [name=join-group]').button();
    
    $('[name=edit-group]').click(function() {
      $.get("<%= url_for :controller => 'groups', :action => 'edit' %>?id=" + $(this).data().id, function(data) { 
        WEHub.modal("Edit group", data, { 
          zIndex: 0,
          buttons: [{
            text: "Close",
            click: function() { 
              $(this).dialog("close"); 
            }
          }]
        });
        
        $('[name=update], [name=delete], [name=promote]').button()
      });
    });
  });
</script>
<style>
.profile-content-container ul {
  left: 30px;
  list-style-type: none;
  margin-bottom: -25px;
  position: relative;
  top: -29px;
}
.search-result-each .search-text {
  width: 75%;
}
</style>
<%= render '/shared/left_panel' %>

<div class="profile-right-container">
  <%= render '/shared/menu_horizontal_tabs' %>
	<div class="community-tab-right">
		<div class="profile-tab ">
			<%= link_to 'Profile', :controller => 'user', :action => 'profile' %>
		</div>
	</div>
	<div class="clear"></div>
	<div class="profile-content-container">
		<div class="clear"></div>
		<div class="share-middle-filter">
			<a href="#all" class="selected" id="all">All Groups</a>
			<a href="#mine" id="mine">My Groups</a>
			<a href="#create" id="create">Create Group</a>
		</div>
		<div class="clear"></div>
    <div id="all-group-list">
      <%= render(:partial => 'group', :collection => @groups) || render('no_groups') %>
    </div>
    <div id="my-group-list" style="display: none;">
      <%= render(:partial => 'group', :collection => @my_groups) || render('not_member_of_groups') %>    
    </div>
	</div>
</div>
<div class="clear"></div>
