<script>
  $(document).ready(function() {
    function eventId(event) { return event.target.id }
    $('#create, #mine, #all').click(function(event) {
      event.preventDefault();
      var selectedClassName = 'selected';
      $('.share-middle-filter').children().removeClass(selectedClassName)
      switch (eventId(event))
      {
        case 'create': 
          $('#edit-group-form').show();
          $('#my-group-list, #all-group-list').hide();
          $('#create').addClass(selectedClassName);
          break;
        case 'mine': 
          $('#my-group-list').show();
          $('#edit-group-form, #all-group-list').hide();
          $('#mine').addClass(selectedClassName);
          break;
        case 'all': 
          $('#all-group-list').show();
          $('#edit-group-form, #my-group-list').hide();
          $('#all').addClass(selectedClassName);
        break;
        default:
      }
    });
    if (location.hash) { $(location.hash).click(); }
  });
</script>

<%= render '/shared/left_panel' %>

<div class="profile-right-container">
  <%= render '/shared/menu_horizontal_tabs' %>
	<div class="community-tab-right">
		<div class="profile-tab profile-tab-select">
			<%= link_to 'Profile', :controller => 'user', :action => 'profile' %>
		</div>
	</div>
	<div class="clear"></div>
	<div class="profile-content-container">
		<div class="clear"></div>
		<div class="share-middle-filter">
			<a href="#all" class="selected" id="all">All Groups</a>
			<a href="#mine" id="mine">My Groups</a>
			<a href="#create" id="create">Create Group</a>
		</div>
		<div class="clear"></div>
    <div id="all-group-list">
      <%= render 'all_groups' %>
    </div>
    <div id="my-group-list" style="display: none;">
      <%= render 'my_groups' %>
    </div>
    <%= render 'create_form' %>
	</div>
</div>
<div class="clear"></div>
