<style>

</style>

<%= render 'errors' %>

<div>
  <table>
    <tr>
  <%= form_for :user do |f| %>
      <td align="right"><%= f.label 'password_old', 'Old password:' %></td><td><%= f.password_field 'password_old', :size => '15' %></td>
    </tr><tr>
    <td align="right"><%= f.label 'password', 'New password:' %></td><td><%= f.password_field 'password', :size => '15' %></td>
    </tr><tr>    
    <td align="right"><%= f.label 'password', 'Confirm password:' %></td><td><%= f.password_field 'password_confirmation', :size => '15' %></td>
    </tr><tr>
    <td colspan="2" align="right"><%= f.submit 'Save', :id=> 'save' %></td>
  <% end %>
    </tr>
  </table>
</div>
