<% if current_profile_logged_in? %>
<script>
  $(document).ready(function() {

    function serializeToParams(value, settings, that) {
      var name = $(that).attr('name');
      var data = {};
      data[name] = value;        
      $.post("<%= url_for :controller => 'user', :action => 'profile' %>", data);
      return value;
    }
    $('.edit').editable(function(value, settings) { return serializeToParams(value, settings, this); }, {
      indicator : '<img src="img/indicator.gif">',      
      style: 'inherit', 
      submit: 'OK'
    });
    $('.edit-textarea').editable(function(value, settings) { return serializeToParams(value, settings, this); }, {
      type: 'textarea',
      rows: '5', 
      submit: 'OK'
    });
  });
</script>
<% else %>
<script>
  $(document).ready(function() {
    if @profile.
    $('div.profile-label').hide();
  });
</script>
<% end %>

<%= render '/shared/left_panel' %>

<div class="profile-right-container">
  <div class="profile-tab-container">
    <div class="profile-tab profile-tab-select" style="visibility: hidden;">
      Info
    </div>
<%
=begin %>
    <div class="profile-tab">
      Wall
    </div>
<% 
=end %>
  </div>
  <div class="clear"></div>
  <div class="profile-content-container">
    <%= form_for :user do |f| %>
    <div class="profile-image-box">
<%
=begin %>
      <img src="/images/temp-profile-image.jpg" title="Profile Image" alt="Profile Image" border="0" />
<%
=end %>      
    </div>
    <div class="profile-content-details">
      <div class="profile-title-head"><span class="edit" name="user[first_name]" style="display: inline;"><%= @profile.first_name %></span> <span class="edit" name="user[last_name]"><%= @profile.last_name %></span></div>
      <% if current_profile_logged_in? %>
      <div class="float-right">
        Click on fields to edit
      </div>
      <div class="clear"></div>
      <% end %>
<%
=begin %>
      <div class="calendar-text profile-label">Born on August 25, 1984</div>
      <div class="marker-text">Lives in <span id="user[state]" class="edit-state-select"><%= @profile.state %></span> <span id="user[country]" class="edit-country-select"><%= @profile.country %></span></div>
      <div class="clear"></div>
      <div class="profile-text profile-label">Working in Karachi</div>
<%
=end %>
      <div class="profile-label">phone: <span class="edit" name="user[phone]"><%= @profile.phone %></span></div>
      <div class="clear"></div>
      <div class="profile-label">email: <span class="edit" name="user[email]"><%= @profile.email %></span></div>
      <div class="clear"></div>
      <div class="profile-label">organization name: <span class="edit" name="user[organization]"><%= @profile.organization %></span></div>
      <div class="clear"></div>      
      <div class="profile-label">organization url: <span class="edit" name="user[company_url]"><%= @profile.organization_url %></span></div>
      <div class="clear"></div>      
      <div class="profile-label">occupation: <span class="edit" name="user[occupation]"><%= @profile.occupation %></span></div>
      <div class="clear"></div>
<% 
=begin %>
      <div class="speak-text profile-label">English, Punjabi, Urdu</div>
      <div class="clear"></div>
<%
=end %>
      <div class="profile-sub-head">
        <div class="float-left">
          About
        </div>
        <div class="clear"></div>        
      </div>
      <div class="profile-content-para edit-textarea" name="user[about_me]"><%= @profile.about_me %></div>
      <div class="clear"></div>
      <div class="profile-sub-head">
        <div class="float-left">
          Skills
        </div>
      </div>
      <div class="profile-content-para edit-textarea" name="user[skills]"><%= @profile.skills %></div>
      <div class="clear"></div>
<% if current_profile_logged_in? %>      
      <div class="profile-sub-head">
        <div class="float-left">
          Development API key
        </div>
      </div>
      <div class="profile-content-para" name="user[api_key]"><%= @profile.api_key %></div>
      <div class="profile-sub-head">
        <div class="float-left">
          Password
        </div>
      </div>      
      <div class="profile-content-para"><%= link_to "Change your password", :controller => 'user', :action => 'password' %></div>
<% end %>      
<%
=begin %>      
      <div class="profile-sub-head">
        <div class="float-left">
          Interests:
        </div>
      </div>
      <div class="profile-content-para">
        Interest content         
      </div>
      <div class="clear"></div>
      <div class="profile-sub-head">
        <div class="float-left">
          Friends:
        </div>
        <div class="float-right">
          <a href="#">
            <img src="/images/edit-small-button.jpg" alt="edit" title="edit" border="0" />
          </a>
        </div>
      </div>
      <div class="profile-content-para">
      <% if @profile.friend %>
          <% @profile.friend.each do |friend| %>
          <div class="profile-friend-each">
            <div class="float-left">
              <img src="/images/friends/ruby.jpg" title="Friend" alt="Friend" border="0"/>
            </div>
            <div class="text">
              <div><%= friend.name %></div>
              <div><%= friend.datasets.nil? ? '0' : friend.datasets.count %> datasets</div>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
<%
=end %>      
    </div>
    <% end %>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
