<div class="search-box">
	<div class="dataset-head">
		Data Sets
	</div>
	<div class="clear"></div>
	<ul id="dataset-navigation"> 
		<li>Base Data
		  <ul>
		<% @search.base_data.each_with_index do |result, index| %>         
		    <li><%= link_to result.name, :controller => 'catalogue', :action => 'details', :id => result.id %></li>
		<% end %>
		  </ul>
		</li>
		<li class="closed">Observation Data
		  <ul>
		<% @search.observation_data.each_with_index do |result, index| %>         
		    <li><%= link_to result.name, :controller => 'catalogue', :action => 'details', :id => result.id %></li>
		<% end %>
		  </ul>
		</li>        
	</ul>
</div>
<div class="search-box-right-length">
	<div class="search-center-container">
<%
=begin %>
		<div class="dashed-header">
			<h2>Sort By:</h2>
			<a href="#" class="selected">Best Match</a>
			<a href="#">Most Recent</a>
			<a href="#">Date</a>
		</div>
		<div class="clear height-15"></div>
<%
=end %>

  <%= render(:partial => '/shared/dataset', :collection => @search.results) || render('/shared/no_results') %>
  
		<div class="clear height-10"></div>
    
    <%= render '/shared/download_panel_bottom' %>		
		
	</div>

	<div class="sub-content-right">
    <%= render 'shared/right_panel' %>
	</div>
</div>
<div class="clear"></div>
