<% cache "search_browse_page_#{params[:page]}_with_tree" do %>
<script>
  $('document').ready(function() {
    $("#dataset-navigation").treeview({
      persist: "location",
      unique: true
    });
  });
</script>
<div class="search-box">
	<div class="dataset-head">
		Data Sets
	</div>
	<div class="clear"></div>
	<ul id="dataset-navigation" class="filetree"> 
		<li class="closed">Base Data
		  <ul class="filetree">		  
		<% @base_data.each do |key, value| %>
		  <% if value.is_a?(Array) && key != 'non_grouped' %>
		    <% if !value.empty?  %>
  		  <li class="closed">
		      <span class="folder"><%= key %></span>
		      <ul>
		        <% value.each do |result| %>
    		    <li><span class="file"><%= link_to result.name, :controller => 'catalogue', :action => 'details', :id => result.id %></span></li>
    		    <% end %>
		      </ul>
  	    </li>
	      <% end %>
		  <% else %>
		    <li>
        <% value.each do |result| %>
          <span class="file"><%= link_to result.name, :controller => 'catalogue', :action => 'details', :id => result.id %></span>
		    <% end %>
  	    </li>
	    <% end %>
		<% end %>
		  </ul>
		</li>
		<li class="closed">Observation Data
		  <ul class="filetree">
		<% @observation_data.each do |key, value| %>
		  <% if value.is_a?(Array) && key != 'non_grouped' %>
		    <% if !value.empty?  %>
  		  <li class="closed">
		      <span class="folder"><%= key %></span>
		      <ul>
		        <% value.each do |result| %>
    		    <li><span class="file"><%= link_to result.name, :controller => 'catalogue', :action => 'details', :id => result.id %></span></li>
    		    <% end %>
		      </ul>
  	    </li>
	      <% end %>
		  <% else %>
		    <li>
        <% value.each do |result| %>
          <span class="file"><%= link_to result.name, :controller => 'catalogue', :action => 'details', :id => result.id %></span>
		    <% end %>
  	    </li>
	    <% end %>
		<% end %>
		  </ul>
		</li>
	</ul>
</div>
<div class="search-box-right-length">
	<div class="search-center-container">
<%
=begin %>
		<div class="dashed-header">
			<h2>Sort By:</h2>
			<a href="#" class="selected">Best Match</a>
			<a href="#">Most Recent</a>
			<a href="#">Date</a>
		</div>
		<div class="clear height-15"></div>
<%
=end %>

  <%= render(:partial => '/shared/dataset', :collection => @search.results) || render('/shared/no_results') %>
  
		<div class="clear height-10"></div>
    
    <%= render '/shared/pagination' %>
        
    <%= render '/shared/download_panel_bottom' %>
		
	</div>
<% end %>
	<div class="sub-content-right">
    <%= render 'shared/right_panel' %>
	</div>
</div>
<div class="clear"></div>
