<div class="top-back-link">
		<a href="#">Back to Search Results</a>
</div>
<div class="top-container-tab-body" >
	<div class="top-container-tab">
		+ Comments
	</div>
	<div class="top-container-tab">
		+ My Collection
	</div>
	<div class="top-container-tab">
		<div class="float-left tab-download">Download</div><div class="float-left tab-download-arrow"></div>
	</div>
</div><div class="clear"></div>
	
<div class="clear"></div>

<div class="left-container-tab-body">
	<div class="tab">Map</div>
	<div class="tab">Graph</div>
	<div class="tab">Connect</div>
</div>
<div class="right-container-body">
	<div class="right-container-left-body">
		<div class="dashed-header"><h2>GROUND WATER BODY MAP OF THE CANADIAN</h2></div>
		<div class="clear"></div>
		<div class="comment-box">
			<h2 class="blue-head">Add a comment</h2>
			<div class="white-double-border"></div>
			<div class="clear"></div>
			
			<input name="star1" type="radio" value="1" class="star"/>
			<input name="star1" type="radio" value="2" class="star"/>
			<input name="star1" type="radio" value="3" class="star"/>
			<input name="star1" type="radio" value="4" class="star"/>
			<input name="star1" type="radio" value="5" class="star"/>
						
			<div class="clear"></div>
			<div class="comment-box-textarea">
				<textarea></textarea>
			</div>
			<div class="comment-box-submit">
				<a href="#">
					<img src="/images/green-submit.jpg" border="0" title="Submit" alt="Submit" />
				</a>
			</div>
		</div>	
		<div class="clear"></div>
		<div class="comment-container">
			<% for i in 0..6%>
			<div class="each-comment-box">
				<div class="float-left">
					<div id="star" class="star" align="left">
						<p class="color" style="width: <%= @rating%>px;text-align:left;">
						<p class="gray"/>                                  
					</div>
				</div>
				<div class="float-right">
					2011-04-04 15:25:03 UTC
				</div>
				<div class="clear">&nbsp;</div>
				<div>
					Data is taken at a high frequently, however there are many missing measurements. 
				</div>
			</div>
			<div class="clear"></div>
			<% end%>
			<div class="clear">&nbsp;</div>
			<div class="pagination">
				<span class="disabled prev_page">Previous</span>
				<span class="current">1</span>
				<a rel="next" href="/view/1?page=2">2</a>
				<a href="/view/1?page=3">3</a>
				......
				<a href="/view/1?page=98">98</a>
				<a href="/view/1?page=99">99</a>
				<a rel="next" class="next_page" href="/view/1?page=2">Next</a>
			</div>
		</div>
		<div class="clear"></div>
		
	</div>
	
	<div class="sub-content-right">
		<div class="right-content">
			<div class="main-head">
				<div class="float-left"><img src="/images/my-collection.jpg" alt="my collection" title="my collection" width="20" height="20"></div>
				<div class="float-left"><h1>My Collection</h1></div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			
			<%  
			my_collection_count		=	@my_collection['display_count']
			start_cnt						=	1
			@my_collection['data'].each do |collection|
				if  start_cnt.to_i > my_collection_count.to_i
					break
				end
			%>
			<div class="contents">
				<div>
					<h2><%= collection['title']%></h2>
				</div>
				<div class="date">
					<%= collection['date_time']%>
				</div>
			</div>
			<div class="clear"></div>
			<% 
				start_cnt += 1
			end
			%>
					
		</div>
		<div class="clear">&nbsp;</div>
		
		<div class="right-content">
			<div class="main-head">
				<div class="float-left"><img src="/images/recently-viewed.jpg" alt="recently viewed" title="recently viewed" width="20" height="20"></div>
				<div class="float-left"><h1>Recently Viewed</h1></div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			
			<%  
			recently_view_count		=	@recently_view['display_count']
			start_cnt				=	1
			@recently_view['data'].each do |collection|
				if  start_cnt.to_i > recently_view_count.to_i
					break
				end
			%>
			<div class="contents">
				<div>
					<h2><%= collection['title']%></h2>
				</div>
				<div class="date">
					<%= collection['date_time']%>
				</div>
			</div>
			<div class="clear"></div>
			<% 
				start_cnt += 1
			end
			%>
			
			
			
		</div>
		<div class="clear">&nbsp;</div>
		
				
	</div>
	<div class="clear"></div>
	
</div>

<div class="clear"></div>




