<style>
  #search_submit {
    display: none;
  }
</style>
<script>
  $(document).ready(function() {
 	
    var map, layer;

    function loadMap() {
      map = new OpenLayers.Map('map');
   
      var gphy = new OpenLayers.Layer.Google("Google Physical", {type: G_PHYSICAL_MAP});
      map.addLayers([gphy]);

      map.setCenter(new OpenLayers.LonLat(-113.873291, 52.293992), 3);

      markers = new OpenLayers.Layer.Markers("Features");
      map.addLayer(markers);           
    }
   
    function setMarker(lon, lat, html){
      var lonLatMarker = new OpenLayers.LonLat(lon, lat);
  
      var feature = new OpenLayers.Feature(markers, lonLatMarker);

      var size = new OpenLayers.Size(20, 34);
      var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
      var icon = new OpenLayers.Icon('/images/marker-blue.png', size, offset);   
      
      function onPopupClose(evt) {
          this.destroy();
      }
      
      function onFeatureSelect(evt) {
        popup = new OpenLayers.Popup.FramedCloud("featurePopup",
                               feature.lonlat,
                               null,
                               html,
                               null, true, onPopupClose);
        popup.feature = feature;
        map.addPopup(popup, true);
      }
      
      function onFeatureUnselect(evt) {
        feature = evt.feature;
        if (feature.popup) {
          popup.feature = null;
          map.removePopup(feature.popup);
          feature.popup.destroy();
          feature.popup = null;
        }
      }
      var marker = new OpenLayers.Marker(lonLatMarker, icon.clone());

      marker.feature = feature;
      marker.events.register("mousedown", feature, onFeatureSelect);
      markers.addMarker(marker);
    }
    
    <%
    if !@search.results.empty? 
    %>
    loadMap();
    <%
    end
    %>
    <% 
    if @search.results && !@search.results.empty? 
     @search.results.each_with_index do |result, index| 
       if result.coordinates && index < 750
         coords = result.coordinates.split(',') 
         if coords.length == 2 && (coords[0].scan(/ /).empty? || coords[1].scan(/ /).empty?)
         %>
    <%= "setMarker(#{coords[1]}, #{coords[0]}, '#{result.name.gsub('\'','')}. <a href=\"/catalogue/details/#{result.uuid}\">More details</a>');".html_safe -%>
         <% 
         end
       end
     end
    end 
    %>
    });
</script>

<div class="home-top">
  <div class="home-top-left">
    <div class="home-search-left"></div>
    <div class="home-search-center">
      <table align="center" width="95%" class="home-search-box-table">
        <tr>
          <td colspan="2">
            <div id="map" style="width: 750px; border: solid 3px #0B5F9D;"></div>
          </td>
        </tr>      
        <tr>
          <td align="center" colspan="2">
            <h2>Search for water and environmental data</h2>
            <div class="home-search-text-container">
            <%= form_for :search, :url => { :controller => 'search' } do |f| %>
            <div class="home-search-text-left"></div>             
            <div class="home-search-text-center"><%= f.text_field :query, :name => 'query' %></div>
            <div class="home-search-button" onclick="$('form').submit();"><%= f.submit :search, :name => 'search' %></div>
            <% end %>
            </div>
            <div class="clear"></div>
            <h2>or <%= link_to 'Browse', :controller => 'catalogue', :action => 'browse' %> the data catalogue</h2>
          </td>
        </tr>
        <tr>
          <td>
            <div style="text-align: center; color: #7A7A7A;">
            The WEHUB stores or accesses 2,040 Observation Datasets and over a 100 Base Features Datasets.
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="home-search-right"></div>
  </div>
  <div class="home-top-right">
    <div class="home-top-right-border">
      <div class="home-right-head">
        <div class="float-left"><img src="/images/latest-data-icon.jpg" title="Latest Data" alt="Latest Data" /></div>
        <div class="float-left">&nbsp;<span>Latest Data</span></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="data-container">
        <div class="float-left">
          <img src="/images/data-icon1.jpg" title="icon" alt="icon" />
        </div>
        <div class="data-text-content">
          <a href="http://waterenvironmentalhub.ca/catalogue/details/304511d2-a682-11e0-aa6e-12313b015271" style="text-decoration: none;">
          <span class="slight-head">IP3 (Improved Processes and Parameterization for Prediction in Cold Regions)- Wolf Creek: Alpine Tundra - 3m tower micrometeorological station</span><br />
          <span class="data-text">
            Area is a wind swept, high alpine tundra plateau along the drainage divide at the northern edge of the basin..
          </span>
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="data-container">
        <div class="float-left">
          <img src="/images/data-icon2.jpg" title="icon" alt="icon" />
        </div>
        <div class="data-text-content">
          <a href="http://waterenvironmentalhub.ca/catalogue/details/09abdba0-3f7b-11e0-9207-0800200c9a66" style="text-decoration: none;">
          <span class="slight-head">GeoBase National Road Network Alberta Road Segments</span><br />
          <span class="data-text">
            The National Road Network (NRN) product contains quality geospatial data (current, accurate, consistent..
          </span>
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="data-button" onclick="<%= onclick_link_to :controller => 'catalogue', :action => 'browse' %>">
        <span class="button">
          <button>View All</button>
        </span>
      </div>
    </div>
    <table style="width: 100%; padding-top: 30px;">
      <tr>
        <td align="center" class="label" style="color: #7A7A7A">Join the conversation</td>
      </tr>      
      <tr>
        <td align="center" >
          <span><a href="http://twitter.com/letthedataflow"><img src="/images/twitter_icon.jpg" title="Twitter" alt="Twitter" border="0" /></a></span>
          <span><a href="http://www.linkedin.com/groups/Water-Environmental-Hub-3687237"><img src="/images/linked_in_icon.jpg" title="Linked In" alt="Linked In" border="0" /></a></span>
          <span><a href="http://www.facebook.com/pages/Water-and-Environmental-Hub-let-the-water-data-flow/145981268796826"><img src="/images/face_book_icon.jpg" title="Facebook" alt="Facebook" border="0" /></a></span>
          <span><a href="http://www.youtube.com/letthedataflow"><img src="/images/youtube_icon.png" title="You Tube" alt="You Tube" border="0" /></a></span>
          <span><a href="http://letthedataflow.ca/rss.xml"><img src="/images/rss_icon.gif" title="RSS" alt="RSS" border="0" /></a></span>
        </td>
      </tr>
    </table>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>

<div class="home-middle">
  <div class="home-middle-content">
    <div class="float-left"><img src="/images/about-icon.jpg" title="About" alt="About" /></div>
    <div class="home-middle-data">
      <div class="home-middle-head">Let The Data Flow Twitter Feed</div>
      <div class="home-middle-text">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 2,
            interval: 6000,
            width: 'auto',
            height: 311,
            theme: {
              shell: {
                background: '#0b609d',
                color: '#fcf7fc'
              },
              tweets: {
                background: '#eef6f9',
                color: '#4d3c4d',
                links: '#4d4a4d'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: false,
              hashtags: true,
              timestamp: true,
              avatars: true,
              behavior: 'all'
            }
          }).render().setUser('Letthedataflow').start();
        </script>
      </div>
    </div>
  </div>
  <div class="home-middle-content">
    <div class="float-left"><img src="/images/community-icon.jpg" title="Community" alt="Community" /></div>
    <div class="home-middle-data">
      <div class="home-middle-head">We Want Your Data!</div>
      <div class="home-middle-text">
        The WEHUB project needs your help to collect and distribute Canadian water and environmental data for our users to access, mashup, analyze, model and interpret. Do you have data to share? Or do you know an organization or individual who does? Create an account with WEHUB and let’s open up that data to the masses.
      </div>
    </div>
  </div>
  <div class="home-middle-content no-border">
    <div class="float-left"><img src="/images/application-icon.jpg" title="New Application" alt="New Application" /></div>
    <div class="home-middle-data">
      <div class="home-middle-head">What is the WEHUB?</div>
      <div class="home-middle-text">
        <iframe width="290" height="243" src="http://www.youtube.com/embed/uYXpjipnBac?hl=en&fs=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="home-bottom">
  <div class="home-bottom-content">
    <h2>SITE LINKS</h2>
    <div><%= link_to "Home", :root %></div>
    <div><%= link_to "Water Data Catalogue", :controller => 'catalogue', :action => 'browse' %></div>
    <div><%= link_to "Tools", :controller => 'tools' %></div>
    <div><%= link_to "About", :controller => 'about' %></div>
    <div><%= link_to "API", :controller => 'api' %></div>
    <div><%= link_to "Contact Us", :controller => 'about', :action => 'contact_us' %></div>
  </div>
  <div class="home-bottom-content">
    <h2>ORGANIZATION</h2>
    <div><a href="http://www.wd.gc.ca/">Western Economic Diversification</a></div>
    <div><a href="http://www.uleth.ca/">University of Lethbridge</a></div>
    <div><a href="http://www.cybera.ca/">Cybera Inc.</a></div>
    <div><a href="http://www.albertawater.com/">Alberta WaterPortal</a></div>
    <div><a href="http://www.tesera.com/">Tesera Systems Inc.</a></div>
    <div><a href="http://www.geocens.ca/">University of Calgary - Biogeosciences</a></div>    
  </div>
  <div class="home-bottom-content">
    <h2>NEWSROOM</h2>
    <div><%= link_to "News", :controller => 'media', :action => 'news' %></div>
    <div><%= link_to "Press Release", :controller => 'media', :action => 'press' %></div>
    <div><%= link_to "In the Media", :controller => 'media' %></div>
    <div><%= link_to "Media Kit", :controller => 'media', :action => 'kit' %></div>
  </div>
  <div class="home-bottom-content">
    <h2>OTHER LINKS</h2>
    <div><%= link_to "Terms of Service", :controller => 'about', :action => 'terms_of_service' %></div>
    <div><%= link_to "Privacy", :controller => 'about', :action => 'privacy' %></div>
    <div><a href="http://letthedataflow.ca/">Let the data flow</a></div>
    <div><a href="http://apps4water.ca/">Apps4Water</a></div>
    <div><a href="http://www.waterhackathon.org/">Water Hackathon</a></div>
    <div><a href="https://www.google.com/calendar/b/0/embed?src=cybera.ca_1pmbf24uq55krm03aaeqc0cuj0@group.calendar.google.com&ctz=America/Edmonton&gsessionid=OK">Open Water Data Calendar</a></div>   
  </div>
</div>
<div class="clear"></div>
