<div class="full-content-body">
	<div class="full-content-left">
<%
=begin %>
		<div class="dashed-header">
			<h2>Sort By: </h2>
			<span><a href="#" class="selected">Most Recent</a></span>
			<span><a href="#">Date</a></span>
			<span><a href="#">Author</a></span>
			<span><a href="#">Title</a></span>
		</div>
		<div class="clear"></div>
<%
=end %>

    <%= render(:partial => '/shared/dataset', :collection => @results) || render('/shared/no_results') %>
		
		<div class="clear height-10"></div>
		
    <%= render '/shared/pagination' %>
    
    <%= render '/shared/download_panel_bottom' %>    

    <script>
      $('document').ready(function() {
        var myCollection = $('[name=my-collection]');
        myCollection.unbind('click');
        myCollection.find('span').text('- My Collection');
        myCollection.click(function() {
          var ids = [];
          $('[type=checkbox][name=download]:checked').each(function() { ids.push($(this).val()); })
          if (ids.length != 0) {
            $.post("<%= url_for :controller => 'user', :action => 'modify_collection', :modifier => 'remove' %>", { ids: ids }); 
          }
        });
      });
    </script>
    
	</div>
	<div class="sub-content-right">
    <%= render 'shared/right_panel' %>				
	</div>
	
	<div class="clear"></div>
</div>
