<script>
  $(document).ready(function() {
    function eventId(event) { return event.target.id }
    $('#all-users, #my-friends').click(function(event) {
      event.preventDefault();
      var selectedClassName = 'selected';
      $('.share-middle-filter').children().removeClass(selectedClassName)
      switch (eventId(event))
      {
        case 'all-users': 
          $('#users').show();
          $('#friends').hide();
          $('#all-users').addClass(selectedClassName);
          break;
        case 'my-friends': 
          $('#friends').show();
          $('#users').hide();
          $('#my-friends').addClass(selectedClassName);
          break;
        break;
        default:
      }
    });
    
    $('[name=befriend], [name=unfriend]').button();
    $('#community-connect').click(function(event) { 
      event.preventDefault(); 
      $('#all-users').trigger('click'); 
    });
  });
</script>

<%= render '/shared/left_panel' %>

<div class="profile-right-container">
  <%= render '/shared/menu_horizontal_tabs' %>
	<div class="community-tab-right">
		<div class="profile-tab ">
			<%= link_to 'Profile', :controller => 'user', :action => 'profile' %>
		</div>
	</div>
	<div class="clear"></div>
	<div class="profile-content-container">
		<div class="share-middle-filter">
				<a id="all-users" class="selected" href="#">All Users</a>
				<a id="my-friends" href="#">My Friends</a>
		</div>

<%
=begin %>		
		<div class="clear"></div>
		<div class="share-search-box">
			
			<div class="text-align-center">
				<div class="share-find-text">
					Find Friends:
				</div>
				
				<div class="share-search-text">
					<input type="text" />
				</div>
				
				<div class="float-left">
					<a href="#">
						<img src="/images/community-search.jpg" border="0" alt="Search" title="Search" />
					</a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear height-10"></div>
		<div class="border-dotted"></div>
<%
=end %>			
		<div class="clear height-10"></div>		

    <div id="users">
    <%= render(:partial => 'user', :collection => @users, :locals => { :edit => false }) || render('no_users') %>
    </div>
    
    <div id="friends" style="display: none;">
    <%= render(:partial => 'user', :collection => @friends, :locals => { :edit => true }) || render('no_friends') %>
    </div>
    
<% 
=begin %>
		<div class="activity-content-box">
			<div class="activity-image">
				<img src="/images/friends/pro-kashif.jpg" alt="Activity" title="Activity" border="0" />
			</div>
			<div class="share-text">
				<div class="title">
					Kashif Anjum
				</div>
				<div class="">
					<span class="head">Dataset: </span>
					<span class="content-text">IP3</span>
					<span class="content-text">Lorem ipsum</span>
				</div>
				<div class="">
					<span class="head">Groups:</span>
					<span class="content-text">Waterworks</span>
				</div>
			</div>
			<div class="float-right">
				<a href="#">
					<img src="/images/add-friend-button.jpg" border="0" alt="Add Friend" title="Add Friend" />
				</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>		
				
		<div class="clear height-25"></div>
		<div class="pagination">
			<span class="disabled prev_page">Previous</span>
			<span class="current">1</span>
			<a rel="next" href="/view/1?page=2">2</a>
			<a href="/view/1?page=3">3</a>
			......
			<a href="/view/1?page=98">98</a>
			<a href="/view/1?page=99">99</a>
			<a rel="next" class="next_page" href="/view/1?page=2">Next</a>
		</div>

<%
=end %>
		
	</div>
</div>
<div class="clear"></div>
