<%
  def onclick_link_to_saved_results
    if logged_in?
      "onclick=\"location.href = \'#{url_for :controller => 'user', :action => 'collection'}\'; return false;\""
    end
  end
%>

<div class="right-content">
	<div class="main-head">
		<div class="float-left" <%= onclick_link_to_saved_results.html_safe %>><img src="/images/my-collection.jpg" alt="my collection" title="my collection" width="20" height="20"></div>
		<div class="float-left" <%= onclick_link_to_saved_results.html_safe %>><h1>My Collection</h1></div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>

	<% @user_saved_search_results.each do |item| %>	
	<div class="contents" onclick="<%= link_to_details(item.id) %>">
		<div>
			<h2><%= item.name %></h2>
		</div>
		<div class="date">
			<%= item.date %>
		</div>
	</div>
	<div class="clear"></div>
	<% end %>

</div>
<div class="clear">&nbsp;</div>

