<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script> 

<style>
  label.error {
    padding-left: 10px;
    color: #F00;
  }
  #name, #description, #spreadsheet {
    width: 521px;
  }
  form td {
    padding-bottom: 5px;
  }
  
  table .feature_types {    
    margin-left: 5px;
  }
  table .feature_types td {
    vertical-align: text-top;
    height: 80px;
  }
  
  table .fragment {
    margin-left: 20px;
    display: inline;
  }
  
  table.fragment td {
    height: auto;
  }
  
  td.additional {
    font-style: italic;
  }
  
  
</style>

<script>
$(document).ready(function() {
  function fragmentId(id) {
    return $(id + '_fragment');
  }
  function fragment(id) {
    var fragment = fragmentId(id);
    return {id: id};
  }
  
  var fragments = []
  fragments.push(fragment('#feature_type_3'))
  fragments.push(fragment('#feature_type_4'))
  
  $('[name="feature_type"]').change(function(event) {
    var targetId = '#' + event.target.id;
    $.each(fragments, function(idex, fragment){
      var parent = fragmentId(fragment.id);
      var inputs = parent.find('input');
      if (fragment.id === targetId) {      	        
        parent.removeClass('disabled');
        inputs.removeAttr('disabled');
      } else {
        parent.addClass('disabled');
        inputs.attr('disabled', true);
      }
    });
  });
  
  $('#feature_type_3').attr('checked', true).trigger('change');
  
});
</script>

<form accept-charset="UTF-8" action="http://localhost:3000/items/create" enctype="multipart/form-data" method="post">
  
  <table>
    <tr>
      <td><label for="name">Title</label></td><td><input id="name" name="name" type="text" /></td>
    </tr>
    <tr>
      <td><label for="description">Description</label></td><td><textarea id="description" name="description"></textarea></td>
    </tr>
    <tr>
      <td style="width: 300px;"><label for="file">Upload file.</label></td><td><input id="spreadsheet" name="spreadsheet" type="file" /></td>
    </tr>
    <tr>
      <td colspan="2" class="additional">Valid uploads include: <strong>Spreadsheets</strong> in .cvs, .ods, .xls, or .xlsx format, or <strong>Shape</strong> files (a .zip file) containing at least a .shp and .dbf file.</td>
    </tr>    
    <tr>
      <td colspan="2"><b>Feature type</b>
        <table class="feature_types">
      <% feature_types = [{:description => 'Temporal (dynamic)', :id => 3}, {:description => 'Non-temporal (static)', :id => 4}] %>
      <% feature_types.each_with_index do |item| %>
        <%= "<tr><td><label for=\"feature_type_#{item[:id]}\">#{item[:description]}</label></td><td>".html_safe -%>
          <%= radio_button_tag 'feature_type', item[:id], false -%>
          <% if item[:id] == 3 %>
            <%= render 'static_observation' %>
          <% else %>
            <%= render 'dynamic_observation' %>
          <% end %>
        <%= "</td></tr>".html_safe %>
      <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2"><b>Groups</b><br />
        <select name="groups" id="groups">
          <option value="0" style="width: 100px;">loading...</option>
        </select>

        <script>
          $(document).ready(function() {
            $.get(<%= "'/user/groups?user_id=#{current_user.id}?format=html'" %>, function(data) {
              $('#groups').html($(data).find('option'))
            });
          });
        </script>

      </td>
    </tr>
<%
# This commented out section will be moved to another page
=begin %>
    <tr>
      <td colspan="2"><b>Dataset groups</b>
        <table>
    <% datasets = ['PAM Dataset Group', 'Canvec Base Data', 'National Road Network', 'Geological Survey of Canada', 'Geological Survey of Canada', 'Canvec Hydro Data']%>  
    <% datasets.each_with_index do |item, index| %>
      <% index = index + 1 %>
      <%= "<tr><td><label for=\"dataset_groups_#{index}\">#{item}</label></td><td>".html_safe -%>
        <%= check_box_tag "dataset_groups[#{index}]", index, false -%>
      <%= "</td></tr>".html_safe %>
    <% end %>
        </table>
      </td>
    </tr>
<%
=end %>    
    <tr>
      <td><input name="upload" type="submit" value="Upload" /></td>
    </tr>
  </table>
  
</form>
