<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script> 

<style>
  label.error {
    padding-left: 10px;
    color: #F00;
  }
  #name, #description, #spreadsheet {
    width: 221px;
  }
  form td {
    line-height: 15pt;
  }
  
</style>

<script>
$(document).ready(function() {
  
  
});
</script>

<div id="errors"><span></span.</div>
<form accept-charset="UTF-8" action="http://localhost:3000/items/create" enctype="multipart/form-data" method="post">
  
  <table>
    <tr>
      <td><label for="name">Dataset name</label></td><td><input id="name" name="name" type="text" /></td>
    </tr>
    <tr>
      <td><label for="description">Dataset description</label></td><td><input id="description" name="description" type="text" /></td>
    </tr>
    <tr>
      <td><label for="file">Spreadsheet (.xls, .xlsx, or .ods format)</label></td><td><input id="spreadsheet" name="spreadsheet" type="file" /></td>
    </tr>
    <tr>
      <td colspan="2"><b>Feature type</b>
        <table>
      <% feature_types = ['Static Base Data', 'Dynamic Base Data', 'Static Observation Data', 'Dynamic Observation Data'] %>
      <% feature_types.each_with_index do |item, index| %>
        <% index = index + 1 %>
        <%= "<tr><td><label for=\"feature_type_#{index}\">#{item}</label></td><td>".html_safe -%>
          <%= radio_button_tag 'feature_type', index, false -%>
        <%= "</td></tr>".html_safe %>
      <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2"><b>Dataset groups</b>
        <table>
    <% datasets = ['PAM Dataset Group', 'Canvec Base Data', 'National Road Network', 'Geological Survey of Canada', 'Geological Survey of Canada', 'Canvec Hydro Data']%>  
    <% datasets.each_with_index do |item, index| %>
      <% index = index + 1 %>
      <%= "<tr><td><label for=\"dataset_groups_#{index}\">#{item}</label></td><td>".html_safe -%>
        <%= check_box_tag "dataset_groups[#{index}]", index, false -%>
      <%= "</td></tr>".html_safe %>
    <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td><input name="upload" type="submit" value="Upload" /></td>
    </tr>
  </table>
  
</form>
