<script>
  $(document).ready(function() {
    var lastEventId = 'view-groups';
    function eventId(event) { return event.target.id }
    $('#create-group, #view-groups').click(function(event) {
      event.preventDefault();
      if (eventId(event) != lastEventId) {
        $('#edit-group-form').toggle();
        $('#group-list').toggle();
        $('#create-group').toggleClass('selected')
        $('#view-groups').toggleClass('selected');
      }
      lastEventId = eventId(event);
    });
  });
</script>

<%= render '/shared/left_panel' %>

<div class="profile-right-container">
  <%= render 'menu_horizontal_tabs' %>
	<div class="community-tab-right">
		<div class="profile-tab profile-tab-select">
			<%= link_to 'Profile', :controller => 'user', :action => 'profile' %>
		</div>
	</div>
	<div class="clear"></div>
	<div class="profile-content-container">
		<div class="clear"></div>
		<div class="share-middle-filter">
			<a href="#" class="selected" id="view-groups">My Groups</a>
			<a href="#" id="create-group">Create Group</a>
		</div>
		<div class="clear"></div>
    <div id="group-list">
    <% unless @groups.nil? %>
		  <% @groups.each do |group|  %>
		  <div class="search-result-each search-result-each-box">
			  <div class="search-text">
				  <div class="float-left">
					  <span class="group-title">
						  <%= group.name %>
					  </span>&nbsp;
					  <span class="group-date">
						  <%= group.created_at %>
					  </span>
				  </div>
				  <div class="clear"></div>
				  <p>
					  <span class="head">Description:</span>
					  <span>
              <%= raw group.description %>
					  </span>

				  </p>
          <span class="head">This group is <%= group.private? ? 'private' : 'public' %></span>          
        </div>
        <div>
          <%= link_to 'Edit', { :controller => 'groups', :action => 'edit' } %>
			  </div>
			  <div class="clear"></div>
		  </div>
		  <div class="clear"></div>
		  <% end %>			
    <% end %>
		</div>
    <%= render 'groups_create_form' %>
	</div>
</div>
<div class="clear"></div>
