<%= render '/shared/left_panel' %>

<div class="profile-right-container">
	<div class="community-landing-content">
<%
=begin %>
		<div class="community-landing-tab-body" onclick="<%= onclick_link_to :controller => 'community', :action => 'news' %>">
			<div class="community-landing-tab">
				<div class="community-landing-tab-image">
					<img src="/images/community-news-blue.png" alt="News" title="News" border="0" />
				</div>
				<div class="community-landing-tab-text">
					Find out what is going on in the WE Community.
				</div>
			</div>
		</div>
<%
=end %>
		<div class="community-landing-tab-body" onclick="<%= onclick_link_to :controller => 'community', :action => 'friends' %>">
			<div class="community-landing-tab">
				<div class="community-landing-tab-image">
					<img src="/images/community-friends-blue.png" alt="Friends" title="Friends" border="0" />
				</div>
				<div class="community-landing-tab-text">
					Connect with others in the WE Community.
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="community-landing-tab-body" onclick="<%= onclick_link_to :controller => 'community', :action => 'datasets' %>">
			<div class="community-landing-tab">
				<div class="community-landing-tab-image">
					<img src="/images/community-groups-blue.png" alt="Shares" title="Shares" border="0" />
				</div>
				<div class="community-landing-tab-text">
					Share data or look through data that has been shared with you!
				</div>
			</div>
		</div>
		<div class="community-landing-tab-body" onclick="<%= onclick_link_to :controller => 'community', :action => 'groups' %>">
			<div class="community-landing-tab">
				<div class="community-landing-tab-image">
					<img src="/images/community-datasets-blue.png" alt="Shares" title="Shares" border="0" />
				</div>
				<div class="community-landing-tab-text">
					Join and contribute to WE Groups. 
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
