<script>
 $(document).ready(function() {

  <%# Search param setup %>
    var datasets = $.url(window.location).param('datasets');
    if (datasets) {
      $(datasets.split(',')).each(function(i,e) {
        $('form').find('[value="' + e + '"]').attr('checked', true);
      });
    } else {
      $('form').find('[value=public]').attr('checked', true);
    }

    var keywords = $.url(window.location).param('keywords');
    if (keywords) {
      $('[name=query]').val(keywords);
    }

    var properties = $.url(window.location).param('properties');
    if (properties) {
      $('[name=properties]').val(properties);
    }

    function filterDefaultParamValue(param, defaultValue) {
      return param !== defaultValue ? param : '';
    }

    function buildFormAction() {
      var datasets = []
      $('[name=datasets]').each(function(i,e) { 
        if ($(e).is(':checked')) {
          datasets.push($(e).val());
        }
      });
      if (datasets.length == 0) {
        datasets.push('public');
      }

      var action = $.url($('form').attr('action')).attr('path');      
      var params = '?keywords=' + filterDefaultParamValue($('[name=query]').val(), '<%= constants.text.search %>') + '&datasets=' + datasets.join(',') + '&type=' + $('[name=type]').val() + '&properties=' + filterDefaultParamValue($('[name=properties]').val(), '<%= constants.text.properties %>');
      if ($('[name=type]').val() == 'advanced') {
        params += '&date_start=' + filterDefaultParamValue($('[name=date_start]').val(), '<%= constants.text.date_start %>') + '&date_end=' + filterDefaultParamValue($('[name=date_end]').val(), '<%= constants.text.date_end %>');
        params += '&south=' + $('[name="bounding_box[south]"]').val() + '&east=' + $('[name="bounding_box[east]"]').val() + '&north=' + $('[name="bounding_box[north]"]').val() + '&west=' + $('[name="bounding_box[west]"]').val();
        params += '&relation=' + $('[name="bounding_box[relation]"]').val();
      }
      
      return action + params;
    }

    function setFormAction() {
      $('form').attr('action', buildFormAction());
    }

    $('.search-button').click(function() {
      window.location = buildFormAction();
    });
    
    $('form input').keypress(function(e) {
      if(e.which == 13) {
        e.preventDefault();
        window.location = buildFormAction();
        return false;
      }
    });

    setFormAction();
    
  <%# Advanced Search toggle %>
    var opened = false;
    var searchMode = $('#search-mode');
    var searchType = $('[name=type]');
    searchMode.click(function(event) {
      event.preventDefault();
      $('#advanced-search-panel').slideToggle();
      if (!opened) {
        searchMode.text('Simple Search');
        searchType.val('advanced');
        opened = true;
      } else {
        opened = false;
        searchMode.text('Advanced Search');
        searchType.val('simple');
        $('[name="bounding_box[south]"],[name="bounding_box[east]"],[name="bounding_box[north]"],[name="bounding_box[west]"]').val('');
        if ($('#date_start').val() !== '<%= constants.text.date_start %>') { $('#date_start').val('<%= constants.text.date_start %>'); }
        if ($('#date_end').val() !== '<%= constants.text.date_end %>') { $('#date_end').val('<%= constants.text.date_end %>'); }        
      }
    });

    function searchParam(param) {
      var inParams = new RegExp(param +'=([\\w-+/\.]*)', 'i').exec(window.location.search)
      if (inParams && inParams.length === 2) {
        return inParams[1];        
      }
    }
    
    function setBoundingBox(north, east, south, west) {
      $('[name="bounding_box[north]"]').val(north);
      $('[name="bounding_box[east]"]').val(east);
      $('[name="bounding_box[south]"]').val(south);
      $('[name="bounding_box[west]"]').val(west);
    }   

    if (searchParam('type') === 'advanced') {
      searchMode.trigger('click');
      if (searchParam('north')) { 
        $('#box_selector').trigger('click');
      }
      setBoundingBox(searchParam('north'), searchParam('east'), searchParam('south'), searchParam('west'));
      $('[name="bounding_box[relation]"]').val(searchParam('relation'));
      if (searchParam('date_start')) { $('#date_start').val(searchParam('date_start')); }
      if (searchParam('date_end')) { $('#date_end').val(searchParam('date_end')); }
    }

  <%# jQuery datepicker %>
    $("#date_start, #date_end").datepicker({ dateFormat: 'dd/mm/yy' });
    
    if (WEHub.logged_in()) {
      $('.user-search-locations').show();
    }
  });
</script>

<%= form_for :search, :url => { :datasets => 'public' }, :html => { :method => :get } do |f| %>
<div class="search-box">
	<div class="clear height-10"></div>
	<div class="text-shade-left"></div>
	<div class="text-shade-repeat-205">
	  <%= f.text_field :query, :name => 'query' %>
	</div>
	<div class="text-shade-right"></div>
	<div class="clear height-10"></div>
	<div class="text-shade-left"></div>
        <div class="text-shade-repeat-205">
	  <%= f.text_field :properties, :name => 'properties' %>
        </div>
	<div class="text-shade-right"></div>
	<div class="clear height-10"></div>

  <div id="advanced-search-panel" style="display: none;">
    <%= hidden_field_tag :type, 'simple' %>
<%
=begin %>
	  <div class="text-shade-left"></div>
	  <div class="text-shade-repeat-205">
		  <select>
			  <option>Geographic Area</option>
		  </select>
	  </div>
	  <div class="text-shade-right"></div>
	  <div class="clear height-10"></div>
<%
=end %>	
	  <div class="text-shade-left"></div>
	  <div class="text-shade-repeat-205">
      <%= text_field_tag :date_start %>
	  </div>
	  <div class="text-shade-right"></div>
	  <div class="clear height-10"></div> 
	
	  <div class="text-shade-left"></div>
	  <div class="text-shade-repeat-205">
	    <%= text_field_tag :date_end %>
	  </div>
	  <div class="text-shade-right"></div>
	  <div class="clear height-15"></div>
	  <div class="bounding-box-text" id="box_selector">
		  <a href="#">Bounding Box</a>
	  </div>
	  <div id="box_display" style="display:none;" class="bounding-box-selector">
	  <%= fields_for :bounding_box do |bbox| %>  
	    <table>
	      <tr>
	        <td></td><td><%= bbox.text_field :north, :size => 4 %></td><td></td>
	      </tr>
	      <tr>
	        <td><%= bbox.text_field :west, :size => 4 %></td><td></td><td><%= bbox.text_field :east, :size => 4 %></td>
	      </tr>
	      <tr>
	        <td></td><td><%= bbox.text_field :south, :size => 4 %></td><td></td>
	      </tr>
	      <tr>
	        <td colspan="2"><%= bbox.select :relation, options_for_select(['equal', 'overlaps', 'encloses', 'fullyOutsideOf', 'intersection', 'crosses', 'touches', 'within' ], 'overlaps') %></td>
	      </tr>
	    </table>	    
	  <% end %>	  
	  </div>
  </div>

	<div class="search-shared-check">
		<input type="checkbox" name="datasets" value="public" id="data_public" />
		<label for="data_public">Public Data</label>
	</div>
	<div class="search-shared-check user-search-locations" style="display: none;">
		<input type="checkbox" name="datasets" value="mine" id="data_mine" />
		<label for="data_mine">My Data</label>
	</div>
	<div class="search-shared-check user-search-locations" style="display: none;">
		<input type="checkbox" name="datasets" value="shared" id="data_shared" />
		<label for="data_shared">Data Shared with Me</label>
	</div>

	<div class="clear height-15"></div>
	<div class="search-button">
      <%= f.submit :search, :name => 'search' %>
	</div>

	<div class="float-right slight-margin">
		<a href="#" id="search-mode">Advanced Search</a>
	</div>

	<div class="clear height-25"></div>
</div>
<% end %>
