<script>
  $(document).ready(function() {
  	
    var map, layer, selectFeature;

    function loadMap() {
    
      map = new OpenLayers.Map('map');
      map.addControl(new OpenLayers.Control.LayerSwitcher());
      
      var gphy = new OpenLayers.Layer.Google("Google Physical", {type: G_PHYSICAL_MAP});
      var gmap = new OpenLayers.Layer.Google("Google Streets", {numZoomLevels: 20});
      var ghyb = new OpenLayers.Layer.Google("Google Hybrid", {type: G_HYBRID_MAP, numZoomLevels: 20});
      var gsat = new OpenLayers.Layer.Google("Google Satellite", {type: G_SATELLITE_MAP, numZoomLevels: 22});

      map.addLayers([gphy, gmap, ghyb, gsat]);

      WEHub.OpenLayers.setCenter(map, -114.922485, 56.400224, 4);

      markers = new OpenLayers.Layer.Markers("Features");
      map.addLayer(markers);

      var boxControl = new OpenLayers.Control();
      OpenLayers.Util.extend(boxControl, {
        draw: function () {
          this.box = new OpenLayers.Handler.Box(boxControl, { "done": function(bounds) { 
            var leftBottom = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.left, bounds.bottom)).transform(map.getProjectionObject(), new OpenLayers.Projection('EPSG:4326'));
            var rightTop = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.right, bounds.top)).transform(map.getProjectionObject(), new OpenLayers.Projection('EPSG:4326'));;
            setBoundingBox(rightTop.lat, rightTop.lon, leftBottom.lat, leftBottom.lon);
          }});
        }
      });
      
      function setBoundingBox(north, east, south, west) {
        $('[name="bounding_box[north]"]').val(north);
        $('[name="bounding_box[east]"]').val(east);
        $('[name="bounding_box[south]"]').val(south);
        $('[name="bounding_box[west]"]').val(west);
      }   

      map.addControl(boxControl);
      
      $('#box_selector').click(function(event) {
        event.preventDefault();
        $('#box_display').slideToggle();
        if (boxControl.box.active) {
          boxControl.box.deactivate();
        } else {
          boxControl.box.activate();
        }
      });
    }        

    loadMap();

    <% 
    if @search.results && !@search.results.empty? 
      @search.results.each_with_index do |result, index| 
        if result && result.coordinates
          coords = result.coordinates.split(',') 
          if coords.length == 2 && (coords[0].scan(/ /).empty? || coords[1].scan(/ /).empty?)
          %>
<%= "WEHub.OpenLayers.setMarker(map, markers, #{coords[1]}, #{coords[0]}, '#{result.name.gsub('\'','')}. <a href=\"/catalogue/details/#{result.uuid}\">More details</a>');".html_safe -%>
          <% 
          end
        end
      end
    end 
    %>
 });
    
</script>

<div class="top-search-result">
	<span class="grey"><%= @all_results_count %> results returned for</span>&nbsp;<span class="black"><%= @search.query %></span>
</div>
<div class="clear height-10"></div>

<%= render 'search_panel' %>

<div class="search-center-container">
	<div id="map" style="width:577px;"></div>
	<div class="clear height-15"></div>
	<div class="dashed-header"><h2>Search results</h2></div>
	<div class="clear height-15"></div>
	
  <%= render(:partial => '/shared/dataset', :collection => @search.results) || render('/shared/no_results') %>

  <% if !@search.results.empty? %>
  
  <div class="clear height-10"></div>

  <%= render '/shared/pagination' unless @all_results_count < 10 %>

  <%= render '/shared/download_panel_bottom' %>
	  
	<% end %>
</div>
<div class="search-box">
	<div class="clear height-10"></div>
	<div class="sub-content-right" style="width:210px;">
    <%= render 'shared/right_panel' %>
	</div>
</div>
<div class="clear"></div>
