<table>
<% CSV.parse(@feature_csv, { :headers => true }).each_with_index do |row, i| %>
  <% if i == 0 %>
<%= "<thead>".html_safe -%>
<% row.each do |item| %><%= "<th>#{item[0]}</th>".html_safe -%><% end %>
<%= "</thead>".html_safe %>  
  <% else 
       break
     end %>
<% end %>
<%= "<tbody>".html_safe -%>
<% CSV.parse(@feature_csv, { :headers => true }).each_with_index do |row, i| %>
<%= "<tr>".html_safe -%>  
<% row.each do |item| %><%= "<td>#{item[1]}</td>".html_safe -%><% end %>
<%= "</tr>".html_safe -%> 
<% end %>
<%= "</tbody>".html_safe -%>
</table>
