<script>
$(document).ready(function() {

  function baseFrom(href) {
    return href.match(/(.[^\?]*)/)[0]
  }

  $('.tab-menu').removeClass('tab-menu-select');
  $('.tab-menu-body a').each(function() {  
    if (baseFrom(this.href) === baseFrom(window.location.href)) {
      $(this).parent().addClass('tab-menu-select');
    }
  });
});
</script>
<div class="tab-menu-body">
  <div class="tab-menu">
    <%= (link_to 'Maps', :controller => 'tools', :action => 'map', :ids => params[:ids] ? params[:ids] : params[:id]).html_safe %>
  </div>
  <div class="tab-menu">
    <%= (link_to 'Graphs', :controller => 'tools', :action => 'graph', :ids => params[:ids] ? params[:ids] : params[:id]).html_safe %>
  </div>
  <div class="tab-menu">
    <%= (link_to 'Tables', :controller => 'tools', :action => 'table', :ids => params[:ids] ? params[:ids] : params[:id]).html_safe %>
  </div>
  <div class="tab-menu">
    <%= link_to 'Build your own', :controller => 'tools', :action => 'developers' %>
  </div>
  <div class="tab-menu-right">
    <div class="top-container-tab tab-download">
      <div class="float-left">Download</div>
      <div class="float-left tab-download-arrow"></div>   
    </div>
    <div class="clear"></div>    
    <%= render '/catalogue/download_format_selector' %>
  </div>
</div><div class="clear"></div>
