<script>
  $(document).ready(function() {
   
    var graphData = [];
    var sharedProperties = {};
    function idsFromSearch() { return window.location.search.match(/ids=([\w-,]*)/)[1].split(','); }
    
    $(document).bind('drawGraph', function() { $.jqplot('chart1', graphData); })
    $(document).bind('loadDataForSharedPropertiesAndGraph', function() {
      property = 'accuracy'; //sharedProperties.numeric[0];
      uuids = idsFromSearch();      
      for (i in uuids) {
        $.ajax({
          url: "<%= url_for :controller => 'tools', :action => 'chart_feature', :format => 'json' %>" + '&properties=' + property + '&id=' + uuids[i],
          global: false,
          success: function(data) {
            graphData.push(data);
            $(document).trigger('drawGraph');
          }
        });
      }
    });

    $.ajax({
      url: "<%= url_for :controller => 'api', :action => 'shared_properties', :ids => params[:ids], :format => 'json' %>",
      global: false,
      success: function(data) { 
        sharedProperties = data;
        $(document).trigger('loadDataForSharedPropertiesAndGraph');
      }
    });    
          
  });
</script>
<%
=begin %>
<div class="tab-menu-body">
  <div class="tab-menu">
    <%= link_to 'Maps', :controller => 'tools', :action => 'map', :id => @id %>
  </div>
  <div class="tab-menu tab-menu-select">
    <%= link_to 'Graphs', :controller => 'tools', :action => 'chart', :id => @id %>
  </div>  
  <div class="tab-menu">
    <%= link_to 'Developers', :controller => 'tools', :action => 'developers', :id => @id %>
  </div>
</div>
<div class="clear"></div>
<%
=end %>

<div class="sub-content-body">
  <div class="sub-content-left">
<%
=begin %>        
    <div class="left-tab-body">
      <div id="bar-chart-div" class="left-tab">
        Bar
      </div>
      <div id="line-chart-div" class="left-tab">
        Line
      </div>
      <div id="pie-chart-div" class="left-tab">
        Pie
      </div>
      <div id="table-chart-div" class="left-tab">
        <%= link_to 'Table', :controller => 'tools', :action => 'table' %>
      </div>
    </div>
    <div class="clear"></div>
<%
=end %>            
  
    <div id="filter-container">
      <div id="filter-content">
        <div id="filter-1">
          <div class="filter-part">
            <div class="filter-left">
              <input type="checkbox" id="filter-check-1" name="filter-check" value="1">
            </div>
            <div class="filter-right">
              <div>
                <select class="select-box-1">
                  <option>Dataset</option>
                </select>
              </div>
              <div>
                <select class="select-box-2">
                  <option>X-axis</option>
                </select>
              </div>
              <div>
                <select class="select-box-2">
                  <option>Y-axis</option>
                </select>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-content-center">
    <div class="chart-body">
      <div id="chart1" style="width:530px; height:360px;"></div>
    </div>    
  </div>
  <div class="sub-content-right">
    <%= render 'shared/right_panel' %>    
  </div>
  <div class="clear"></div>
</div>
