<%= render 'style_overrides' %>
<script>
  $(document).ready(function() {
   
    var allGraphData = {};
    var sharedProperties = {};

  <% @datasets.each_with_index do |dataset,i| %>
    <%= "allGraphData['#{dataset.id}'] = {};" -%>
    <%= "allGraphData['#{dataset.id}']['colour'] = '#{css_colour(i)[:code]}';" -%>
    <%= "allGraphData['#{dataset.id}']['name'] = '#{dataset.name}';" -%>    
  <% end unless !@datasets %>


    function idFromUrl(url) { return url.match(/id=([\w-]*)/)[1]; }
    function propertyFromUrl(url) { return url.match(/properties=(.[^&]*)/)[1]; }
    function graphTypeFromUrl() { return window.location.hash.replace('#',''); }
    function idsFromSearch() { 
      if (unescapedSearch === '') {
        return window.location.pathname.match(/.*\/([\w-]*)/)[1];
      } else {
        return unescapedSearch.match(/ids=([\w-,]*)/)[1].split(','); 
      }
    }
    function idsFromForm() {
      var ids = []
      $('[name=dataset]:checked').each(function() { ids.push($(this).val()); });
      return ids;
    }
    
    $(document).bind('drawGraph', function() { 
      var uuids = idsFromForm();
      var type = graphTypeFromUrl()

      var graphData = [];
      var graphColours = [];
      for(var i=0; i < uuids.length; i++) {
        var uuid = uuids[i];
        if (allGraphData[uuid] && allGraphData[uuid]['data']) {
          graphData.push(allGraphData[uuid]['data']);
          graphColours.push({ color: allGraphData[uuid]['colour'], label: allGraphData[uuid]['name'] });
        }
      }      

      if (type === 'pie') {
        var graphOptions = {
          seriesDefaults: {
            // Make this a pie chart.
            renderer: jQuery.jqplot.PieRenderer,
            rendererOptions: {
              // Put data labels on the pie slices.
              // By default, labels show the percentage of the slice.
              showDataLabels: true
            }
          },
          series: graphColours,
          legend: { 
            show: true,
            placement: 'outsideGrid' 
          }
        }
      } else {
        var graphOptions = {
          series: graphColours,
          legend: { show: false }
        }
      }

      
      hideErrorMessage();
      $('.tool-body').show();
      $('#chart1').html('');
      $('#chart1').height('auto');
      if (graphData.length > 0) {
        $.jqplot('chart1', graphData, graphOptions); 
      }
      
      var legendHeight = $('table.jqplot-table-legend').height();      
      if (legendHeight && $('#chart1').height() < legendHeight) {
        $('#chart1').height(legendHeight + 40);
      }
      
      if ($('#chart1').html() === '') {
        displayErrorMessage('We couldn\'t chart that combination. Please try selecting another property to request a new graph.');
        $('.tool-body').hide();
        if (graphTypeFromUrl() == 'line') {
          displayErrorMessage('We couldn\'t chart that combination. Some properties can\'t be plotted on a line graph as their values are non numeric.  Please try selecting another property to request a new graph or try representing this data in a pie graph.');
          $('.tool-body').hide();          
        }
      }
      
    });
    
    function disableGraphItem(uuid) {
      $('[name=datasets] .' + uuid + ' [name=dataset]').attr('checked', false);

      $('.datasets.' + uuid).removeClass('mini-loading-dialog').addClass('ui-state-disabled');
      $('.datasets.' + uuid + ' input').attr('disabled', true);
      $('.property-selector.' + uuid ).unbind().change(function(event) {           
          loadGraphData(uuid, this.value);
        }
      );    
    }
        
    function loadGraphData(uuid, property) {
      property = property ? property : '';
      var type = window.location.hash;
      if (type) {
        type = type.replace('#','');
      }

      $('.datasets.' + uuid).addClass('mini-loading-dialog');
      
      $.ajax({
        url: "<%= url_for :controller => 'tools', :action => 'chart_feature', :format => 'json' %>" + '&properties=' + escape(property) + '&id=' + uuid + '&type=' + type,
        global: false,
        success: function(data) {
          var uuid = idFromUrl(this.url);
          allGraphData[uuid]['data'] = data;
          
          $('.datasets.' + uuid).removeClass('mini-loading-dialog').removeClass('ui-state-disabled');
          
          var checkbox = $('[name=datasets] .' + uuid + ' [name=dataset]');
          checkbox.attr('checked', true).removeAttr('disabled');
          checkbox.click(function() { $(document).trigger('drawGraph'); });            

          $('.property-selector.' + uuid)
            .removeAttr('disabled')
            .val(unescape(propertyFromUrl(this.url)))
            .unbind()
            .change(function(event) {
              if (this.value !== '') {
                $('.datasets.' + uuid).addClass('mini-loading-dialog');                
                loadGraphData(uuid, this.value);
              }
            }
          );

          $(document).trigger('drawGraph');
        },
        error: function() {
          var uuid = idFromUrl(this.url);
          allGraphData[uuid]['data'] = [];
          
          disableGraphItem(uuid);

          $(document).trigger('drawGraph');
        }
      });
    }
    
    $(document).bind('loadDataForSharedPropertiesAndGraph', function() {
      property = sharedProperties.numeric[0];
      var uuids = idsFromSearch();      
      for (var i=0; i < uuids.length; i++) {
        var uuid = uuids[i];
        loadGraphData(uuid, property);
      }
    });

    function loadGraphDataWithFirstNumericValue(url) {
      $.ajax({
        url: url,
        global: false,
        success: function(data) {
          var property = (data.numeric && data.numeric[0]) ? data.numeric[0] : '';
          var uuids = idsFromSearch();      
          for (var i=0; i < uuids.length; i++) {
            var uuid = uuids[i];
            loadGraphData(uuid, property);
          }
          
          $('form[name=download] [name=ids]').val($('[name=dataset]:checked').val());
        },
        error: function() {
          var uuid = idsFromSearch()[0];
          disableGraphItem(uuid);
          displaySorryErrorMessage();
        }
      });    
    }
    
    if (idsFromSearch().length > 1) {
      $.ajax({
        url: "<%= (url_for :controller => 'api', :action => 'shared_properties', :ids => params[:ids], :format => 'json').html_safe %>",
        global: false,
        success: function(data) {
          if (data) {
            sharedProperties = data;
            $(document).trigger('loadDataForSharedPropertiesAndGraph');
          } else {
            loadGraphDataWithFirstNumericValue("<%= (url_for :controller => 'api', :action => 'feature_fields_by_type', :format => 'json').html_safe %>" + "&id=" + idsFromSearch()[0])
          }
        },
        error: function() {
          loadGraphDataWithFirstNumericValue("<%= (url_for :controller => 'api', :action => 'feature_fields_by_type', :format => 'json').html_safe %>" + "&id=" + idsFromSearch()[0])
        }        
      });
    } else {
      loadGraphDataWithFirstNumericValue("<%= (url_for :controller => 'api', :action => 'feature_fields_by_type', :id => params[:ids], :format => 'json').html_safe %>");
    }
    
    $('.chart-button').click(function(event) {
      event.preventDefault();

      var type = event.target.hash ? event.target.hash : event.target.children[0].hash;
      type = type.replace('#','');
      window.location.hash = type;
      
      if (type == 'pie') {
        if ($('[name=dataset]:checked').length > 1) {
          $('[name=dataset]').each(function() { $(this).attr('checked', false); });
          $('[name=dataset]:first').attr('checked', true);
        }
      }
      $('.chart-button').removeClass('tab-select');
      $('.' + type + '-chart').addClass('tab-select');
      
      var uuids = idsFromForm();
      for (var i=0; i < uuids.length; i++) {
        var uuid = uuids[i];
        var property = $('.property-selector.' + uuid).val();
        
        loadGraphData(uuid, property);
      }   

    });
    
    $('.' + window.location.hash.replace('#','') + '-chart').addClass('tab-select');    
    
    function uuids() {
      var ids = []
      $('[name=dataset]:checked').each(function() { ids.push($(this).val()); });
      return ids;
    }
            
    $('form[name=datasets] [name=dataset]').click(function(event) {
      $('form[name=download] [name=ids]').val(uuids().join(','));
    });
    
  });
</script>

<%= render 'tool_tab_menu' %>

<div class="sub-content-body">
  <div class="sub-content-left">
    
    <%= render 'chart_menu' %>
  
    <div id="filter-container">
      <div id="filter-content">
      
      <%= render(:partial => 'datasets_form', :locals => {:show_dataset_properties => true}) -%>
            
      </div>
    </div>
  </div>
  <div class="sub-content-center">
    <%= render 'error_message' %>  
    <div class="tool-body" style="display: none;">
      <div id="chart1"></div>
    </div>    
  </div>
  <div class="clear"></div>
</div>
