<style>
.mini-loading-dialog {
  background: white url(/images/spinner.gif) center top no-repeat;
  height: 55px;
  opacity: 0.6;
}
</style>
<script>
  $(document).ready(function() {
    if (<%= !@datasets || @datasets.count == 0 %>) {
      WEHub.modal("We're Sorry", "The maps for these datasets couldn't be retrieved");
      $('button.remove').hide();
    }
  });
</script>
<script>
  $(document).ready(function() {

    var lon = 5;
    var lat = 40;
    var zoom = 5;
    var map, layer;
    var points = new OpenLayers.Geometry.MultiPoint();
    var layers = []

    map = new OpenLayers.Map( 'map' );
    map.addLayer(new OpenLayers.Layer.Google("Google Physical", {type: G_PHYSICAL_MAP}));    
            
    function drawJSON(data, colour, coordinates, datasetId) {
      $('.datasets.' + datasetId).removeClass('mini-loading-dialog');
      
      var geojson_format = new OpenLayers.Format.GeoJSON({
        'externalProjection': new OpenLayers.Projection('EPSG:4326'),
        'internalProjection': map.getProjectionObject()
      });
      var vector_layer = new OpenLayers.Layer.Vector(datasetId); 

      var style = OpenLayers.Feature.Vector.style["default"];
      style.strokeColor = style.fillColor = colour;
      vector_layer.style = style;
            
      map.addLayer(vector_layer);      
      vector_layer.addFeatures(geojson_format.read(data));

      points.addPoint(OpenLayers.Geometry.fromWKT('POINT(' + coordinates + ')'));
      var centroid = points.getCentroid(true);
      WEHub.OpenLayers.setCenter(map, centroid.y, centroid.x, 3);
    }
    
    function disableDataset(datasetId) {
      var datasetElement = $('.datasets.' + datasetId);
      datasetElement.removeClass('mini-loading-dialog').addClass('ui-state-disabled')
      datasetElement.find('input').attr('disabled', true);
    }

    <% 
      @datasets.each_with_index do |dataset, i|
    %>

    $.ajax({
      url: "<%= url_for :controller => 'api', :action => 'feature', :id => dataset.id, :output => 'json' %>",
      global: false,
      success: function(data) { <%= "drawJSON(data,'#{css_colour(i)[:code]}', '#{dataset.coordinates.gsub(',', ' ')}', '#{dataset.id}');" -%> },
      error: function(data) { disableDataset('<%= dataset.id %>'); }
      
    });    

    <%
      end unless !@datasets
    %>
    

    function matchesLayer(layer, ids) {
      if (layer && layer['name']) {
        for(j in ids) {
          if (layer['name'] === ids[j]) {
            return true;
          }
        }
      }
      return false;
    }
    
    function matchingLayers(layers, ids) {
      var matchedLayers = [];
      for(i in layers) {
        var layer = layers[i];
        if (matchesLayer(layer, ids)) {
          matchedLayers.push(layer);
        }
      }
      return matchedLayers;
    }
    
    var removedLayers = []    
    function toggleLayers(ids) {

      var toRemove = matchingLayers(map.layers, ids);
      for(i in toRemove) {
        map.removeLayer(toRemove[i]);
        removedLayers.push(toRemove[i])
      }

      var toAdd = matchingLayers(removedLayers, ids);
      for(i in toAdd) {
        map.addLayer(toAdd[i]);
        for(i in removedLayers) {
          var layer = removedLayers[i];
          if (matchesLayer(layer, ids)) {
            removedLayers[i] = null;
          }
        }
      }
    }

    function uuids() {
      var ids = []
      $('[name=dataset]:checked').each(function() { ids.push($(this).val()); });
      return ids;
    }
            
    $('form[name=datasets] [name=dataset]').click(function(event) {

      $('form[name=download] [name=ids]').val(uuids().join(','));
      toggleLayers([$(event.target).val()]);
    });
    
  });    
</script>

<div class="tab-menu-body">
	<div class="tab-menu tab-menu-select">
		<%= link_to 'Data Map', :controller => 'tools', :action => 'map', :id => @id %>
	</div>
<%
=begin %>
	<div class="tab-menu">
		<%= link_to 'WE Data Graphs', :controller => 'tools', :action => 'chart', :id => @id %>
	</div>
	<div class="tab-menu">
		<%= link_to 'Developers', :controller => 'tools', :action => 'developers', :id => @id %>
	</div>
<%
=end %>	
	<div class="tab-menu-right">
    <div class="top-container-tab tab-download">
      <div class="float-left">Download</div>
      <div class="float-left tab-download-arrow"></div>   
    </div>
    <div class="clear"></div>
		
		<%= render '/catalogue/download_format_selector' %>
	</div>
</div>
<div class="clear"></div>
<style>
  #filter-container ul {
    padding: 0px;
    margin: 0 -6px 0 20px;
  }
  #filter-container li {
    font-size: 30px;
    line-height: 18px;
  }
</style>
<div class="sub-content-body">
	<div class="sub-content-left">
<%
=begin %<	
		<div class="left-tab-body">
			<div id="bar-chart-div" class="left-tab tab-select">
				<a href="#">Layers</a>
			</div>
			<div id="line-chart-div" class="left-tab">
				<a href="#">Info</a>
			</div>
		</div>
		<div class="clear"></div>
<%
=end %>		
		<div id="filter-container">
      <div id="filter-content">
      <%= form_for :datasets, :html => { :name => 'datasets' } do |f| %>
      <%  @datasets.each_with_index do |dataset,i| %>
        <div class="mini-loading-dialog datasets <%= "#{dataset.id}" -%>">
          <div class="float-left">
            <%= check_box_tag "dataset", dataset.id, false, :id => "dataset_#{dataset.id}" %>
          </div>
          <div class="float-left width-5">&nbsp;</div>
          <div class="float-left"><label for='<%= "dataset_#{dataset.id}" %>'><ul><li style='color: <%= "#{css_colour(i)[:code]}" %>'></li></ul></label></div>
          <div class="float-left width-5">&nbsp;</div>
          <div class="float-left width-210">
            <label for='<%= "dataset_#{dataset.id}" %>'>
              <div class="tool-left-link">
              <%= link_to "#{dataset.name}", {:controller => 'catalogue', :action => 'details'}, :target => 'blank' %>
              </div>
              <div class="tool-left-text">
              <%= more_markup(dataset.description).html_safe -%>
              </div>
            </label>
          </div>
        </div>
        <div class="clear height-5">&nbsp;</div>
      <% end unless !@datasets %>
      <% end %>
      </div>

<%
=begin %>
      <div class="clear height-50">&nbsp;</div>
      <div>
        <span class="button">
          <button class="add">+ Dataset</button>
        </span>
        <span class="button">
          <button class="remove">Remove</button>
        </span>				
      </div>
<%
=end %>      
		</div>
	</div>
	<input type="hidden" name="hid_last_cnt" id="hid_last_cnt" value="4">
	<div class="sub-content-center">
		<div id="map" style="width:564px;"></div>
		<!--img src="/images/temp-data-map.jpg" border="0" alt="Temp Map" title="Map"-->		
	</div>
	<div class="sub-content-right">
    <%= render 'shared/right_panel' %>		
	</div>
	<div class="clear"></div>
</div>
