<div class="tab-menu-body">
	<div class="tab-menu">
		<a href="#">WE Data Map</a>
	</div>
	<div class="tab-menu tab-menu-select">
		<a href="#">WE Data Graphs</a>
	</div>
	<div class="tab-menu">
		<a href="#">Developers</a>
	</div>
</div>
<div class="clear"></div>

<div class="sub-content-body">
	<div class="sub-content-left">
		<div class="left-tab-body">
			<div id="bar-chart-div" class="left-tab">
				<%= link_to 'Bar', :controller => 'tools', :action => 'chart', :anchor => 'bar' %>
			</div>
			<div id="line-chart-div" class="left-tab">
				<%= link_to 'Line', :controller => 'tools', :action => 'chart', :anchor => 'line' %>
			</div>
			<div id="pie-chart-div" class="left-tab">
				<%= link_to 'Pie', :controller => 'tools', :action => 'chart', :anchor => 'pie' %>
			</div>
			<div class="left-tab tab-select">
				<%= link_to 'Table', :controller => 'tools', :action => 'table' %>
			</div>
		</div>
		<div class="clear"></div>
		<div id="filter-container">
			<div class="filter-part">
				<div class="filter-right">
					<div>
						<select class="select-box-1">
							<option>Dataset</option>
						</select>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			
			<div class="filter-part">
				<div class="filter-right">
					<div>
						<span class="button">
							<button>Graph</button>
						</span>
					</div>
				</div>
			</div>
			<div class="clear"></div>
						
			
		</div>
	</div>
	<div class="sub-content-center">
		<div class="">
			<table width="100%" cellpadding="5" cellspacing="0" class="graph-table">
				<tr class="first-tr">
					<th align="left">
						<select>
							<option>Geographic Area</option>
						</select>
					</th>
					<th align="center">
						<select>
							<% for i in 1..12%>
							<option>7/<%= i%>/2008</option>
							<% end%>
						</select>
					</th>
					<th align="center">
						<select>
							<% for i in 1..12%>
							<option>7/<%= i%>/2007</option>
							<% end%>
						</select>
					</th>
					<th align="center">
						<select>
							<% for i in 1..12%>
							<option>7/<%= i%>/2006</option>
							<% end%>
						</select>
					</th>
				</tr>
				<% alt_cnt = 0 %>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">United State</td>
					<td align="center">516544</td>
					<td align="center">516544</td>
					<td align="center" class="border-right-none">516544</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">Northeast</td>
					<td align="center">1651</td>
					<td align="center">1651</td>
					<td align="center" class="border-right-none">1651</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">Mideast</td>
					<td align="center">1654165</td>
					<td align="center">1654165</td>
					<td align="center" class="border-right-none">1654165</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">South</td>
					<td align="center">45616</td>
					<td align="center">45616</td>
					<td align="center" class="border-right-none">45616</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">West</td>
					<td align="center">5165165</td>
					<td align="center">5165165</td>
					<td align="center" class="border-right-none">5165165</td>
				</tr>
				
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">United State</td>
					<td align="center">1616</td>
					<td align="center">1616</td>
					<td align="center" class="border-right-none">1616</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">Northeast</td>
					<td align="center">14616</td>
					<td align="center">14616</td>
					<td align="center" class="border-right-none">14616</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">Mideast</td>
					<td align="center">4496498</td>
					<td align="center">4496498</td>
					<td align="center" class="border-right-none">4496498</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">South</td>
					<td align="center">4148998</td>
					<td align="center">4148998</td>
					<td align="center" class="border-right-none">4148998</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">West</td>
					<td align="center">7894498</td>
					<td align="center">7894498</td>
					<td align="center" class="border-right-none">7894498</td>
				</tr>
				
				
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">United State</td>
					<td align="center">446156198</td>
					<td align="center">446156198</td>
					<td align="center" class="border-right-none">446156198</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">Northeast</td>
					<td align="center">1649848</td>
					<td align="center">1649848</td>
					<td align="center" class="border-right-none">1649848</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">Mideast</td>
					<td align="center">16494</td>
					<td align="center">16494</td>
					<td align="center" class="border-right-none">16494</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">South</td>
					<td align="center">18498</td>
					<td align="center">18498</td>
					<td align="center" class="border-right-none">18498</td>
				</tr>
				<% alt_cnt += 1 %>
				<tr class="<%= alt_cnt % 2 == 0 ? 'alt' : '' %>">
					<td align="left">West</td>
					<td align="center">568487</td>
					<td align="center">568487</td>
					<td align="center" class="border-right-none">568487</td>
				</tr>
				
				<tr>
					<td class="border-bottom-none">&nbsp;</td>
					<td class="border-bottom-none">&nbsp;</td>
					<td class="border-bottom-none">&nbsp;</td>
					<td class="border-bottom-none border-right-none">&nbsp;</td>
				</tr>
			</table>
		</div>
		
	</div>
	<div class="sub-content-right">
    	<%= render 'shared/right_panel' %>		
	</div>
	<div class="clear"></div>
</div>