<%= render 'modal_error' %>
<style>
  .mini-loading-dialog {
    background: white url(/images/spinner.gif) center top no-repeat;
    height: 55px;
    opacity: 0.6;
  }
  .sub-content-center .table-body {
    width: 773px;
    overflow: auto;
    padding-bottom: 15px;    
  }
</style>
<script>
$(document).ready(function() {
  var table = $('#table-chart');

  function idFromUrl(url) { return url.match(/([\w-]*).html/)[1]; } 
  
  function drawTable(data) {
    table.html(data);

    $('#table-chart')
      .tablesorter({widthFixed: true, widgets: ['zebra']})
      .tablesorterPager({container: $("#table-chart-pager"), positionFixed: false, size: $('.pagesize option:selected')[0].value});
    $('#table-chart-pager').show();
  }
  
  function loadDataAndDrawTable(uuid, wms) {
    var datasetElement = $('.datasets.' + uuid);
    datasetElement.addClass('mini-loading-dialog');

    $.ajax({
      url: '<%= (url_for :controller => 'tools', :action => 'table_feature').html_safe %>' + '/' + uuid + '.html',
      global: false,
      dataType: 'text',
      success: function(data) {

        if (data != '') {

          var checkbox = $('[name=datasets] .' + idFromUrl(this.url) + ' [name=dataset]');
          checkbox.attr('checked', true).removeAttr('disabled');
          datasetElement.removeClass('mini-loading-dialog');
          
          drawTable(data);

          $('form[name=download] [name=ids]').val($('[name=dataset]:checked').val());
        }
      },
      error: function() {
        disableDataset(idFromUrl(this.url));
      }
    });
  }
  
  function disableDataset(uuid) {
    var datasetElement = $('.datasets.' + uuid);
    datasetElement.removeClass('mini-loading-dialog').addClass('ui-state-disabled')
    datasetElement.find('input').attr('disabled', true);
    $('#table-chart-pager').hide();
    table.html("<div style='padding: 20px;'><strong>We're sorry, we couldn't retrieve the feature data for this dataset. Please try another dataset.</strong></div>");
  }

  
  $('.datasets').removeClass('mini-loading-dialog');
  $('form[name=datasets] [name=dataset]').click(function(event) {
    $('[name=datasets] [name=dataset]').attr('checked', false);
    loadDataAndDrawTable(event.target.value, $(event.target).attr('wms'));
  });
  
  $('form[name=datasets] [name=dataset]:checked').each(function() {
    loadDataAndDrawTable(this.value, $(this).attr('wms'));
  });
  
  if ($('form[name=datasets] [name=dataset]:checked').length === 0) {
    $('form[name=datasets] [name=dataset]:first').trigger('click');
  }
});

</script>
<%= render 'tool_tab_menu' %>
<div class="clear"></div>
<style>
  #filter-container ul {
    padding: 0px;
    margin: 0 -6px 0 20px;
  }
  #filter-container li {
    font-size: 30px;
    line-height: 18px;
  }
</style>
<div class="sub-content-body">
  <div class="sub-content-left">
    
    <div id="filter-container">
      <div id="filter-content">
      
      <%= render(:partial => 'datasets_form', :locals => { :show_dataset_properties => false }) -%>
            
      </div>
    </div>
    
  </div>
  <div class="sub-content-center">
    <div class="table-body">

      <table id="table-chart" class="table-sorter"></table>

      <div id="table-chart-pager" class="pager" style="display: none;">
        <form>
          <img src="/images/table-sorter-pager-first.png" class="first"/>
          <img src="/images/table-sorter-pager-prev.png" class="prev"/>
          <input type="text" class="pagedisplay"/>
          <img src="/images/table-sorter-pager-next.png" class="next"/>
          <img src="/images/table-sorter-pager-last.png" class="last"/>
          <select class="pagesize">
          <% 10.times do |i| %>
            <% option_value = (i+1)*10 %>
            <%= "<option value='#{option_value}'>#{option_value}</option>".html_safe -%>
          <% end %>
          </select>
        </form>
      </div>
      
    </div>    
  </div>
<%
=begin %>  
  <div class="sub-content-right">
      <%= render 'shared/right_panel' %>    
  </div>
<%
=end %>  
  <div class="clear"></div>
</div>
