<%= render 'errors' %>

<%= form_for :user, :html => { :id => 'sign-in' } do |f| %>
<div class="text-align-center">
	<div class="login-body">
		<div class="login-left-part"></div>
		<div class="login-right-part">
			<div class="login-head">
				<h2>Log in to <span>WeHub</span></h2>
			</div>
			<div class="clear"></div>
			<div><%= f.label :login, 'Username:' %></div>
			<div class="clear"></div>
			<div class="text-plain-left"></div>
			<div class="text-plain-repeat-205">
        <%= f.text_field :login %>
			</div>
			<div class="text-plain-right"></div>
			<div class="clear height-20"></div>
			
			<div><%= f.label :password, 'Password:' %></div>
			<div class="clear"></div>
			<div class="text-plain-left"></div>
			<div class="text-plain-repeat-205">
        <%= f.password_field :password %>
			</div>
			<div class="text-plain-right"></div>
			<div class="clear height-20"></div>
			<div class="float-left login-button" onclick="$('form').submit();">
        <%= f.submit :"Log-in" %>
			</div>
			<div class="float-left" style="margin:8px 20px;">
        <%= link_to 'Forgot Password?', { :controller => 'user', :action => 'password' } %>
			</div>
			<div class="clear height-30"></div>
			<div class="light-black-head">
				<h2>Don't have a We Hub Id?</h2>
			</div>
			<div class="clear height-20"></div>
			<div class="float-left">
        <%= link_to image_tag('create-new-account.jpg', :alt => 'Create new account', :border => 0), { :controller => 'user', :action => 'register' }, :class=> '' %>
			</div>
			<div class="clear height-30"></div>
			<div class="login-connect-text">
				Connect : 
			</div>
			<div class="login-connect-icons">
    <table style="width: 100%; padding-top: 30px;">
      <tr>
        <td align="center" >
          <span><a href="http://twitter.com/letthedataflow"><img src="/images/twitter_icon.jpg" title="Twitter" alt="Twitter" border="0" /></a></span>
          <span><a href="http://www.linkedin.com/groups/Water-Environmental-Hub-3687237"><img src="/images/linked_in_icon.jpg" title="Linked In" alt="Linked In" border="0" /></a></span>
          <span><a href="http://www.facebook.com/pages/Water-and-Environmental-Hub-let-the-water-data-flow/145981268796826"><img src="/images/face_book_icon.jpg" title="Facebook" alt="Facebook" border="0" /></a></span>
          <span><a href="http://www.youtube.com/letthedataflow"><img src="/images/youtube_icon.png" title="You Tube" alt="You Tube" border="0" /></a></span>
          <span><a href="http://letthedataflow.ca/rss.xml"><img src="/images/rss_icon.gif" title="RSS" alt="RSS" border="0" /></a></span>
        </td>
      </tr>
    </table>
			</div>
		</div>
	</div>
</div>
<% end %>
